#
# Copyright (c) 2021 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

if LOG

menu "Event options"

comment "Initially logged events"

config ML_APP_INIT_LOG_ML_RESULT_EVENT
	bool "Machine learning result event"
	default y

endmenu

endif
