#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config PSA_CRYPTO_DRIVER_ALG_PRNG_CC3XX_PLATFORM
	bool
	default y
	depends on PSA_CORE_OBERON
	depends on CRYPTOCELL_USABLE
	depends on PSA_WANT_GENERATE_RANDOM
	help
	  Only Oberon PSA core supports generate random through driver interface.

config PSA_CRYPTO_DRIVER_ALG_CTR_DRBG_CC3XX_PLATFORM
	bool
	default y
	depends on PSA_CRYPTO_DRIVER_ALG_PRNG_CC3XX_PLATFORM && \
		   PSA_WANT_ALG_CTR_DRBG

config PSA_CRYPTO_DRIVER_ALG_HMAC_DRBG_CC3XX_PLATFORM
	bool
	default y
	depends on PSA_CRYPTO_DRIVER_ALG_PRNG_CC3XX_PLATFORM && \
		   PSA_WANT_ALG_HMAC_DRBG

