# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

config SUPPORT_FLPRCORE
	bool
	default y if (SOC_NRF54L15_CPUAPP || SOC_NRF54H20_CPUAPP || SOC_NRF54LM20A_ENGA_CPUAPP || SOC_NRF7120_ENGA_CPUAPP)

if SUPPORT_FLPRCORE

config FLPRCORE_REMOTE_BOARD_TARGET_CPUCLUSTER
	string
	default "cpuflpr"

endif # SUPPORT_FLPRCORE
