#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config SUPPORT_FIRMWARE_LOADER_BLE_MCUMGR
	bool
	default y

choice FIRMWARE_LOADER

config FIRMWARE_LOADER_IMAGE_BLE_MCUMGR
	bool "ble_mcumgr"
	depends on SUPPORT_FIRMWARE_LOADER_BLE_MCUMGR
	help
	  Include the minified firmware loader ``ble_mcumgr`` sample as the firmware loader image
	  to use.

endchoice

config FIRMWARE_LOADER_IMAGE_NAME
	default "ble_mcumgr" if FIRMWARE_LOADER_IMAGE_BLE_MCUMGR

config FIRMWARE_LOADER_IMAGE_PATH
	default "$(ZEPHYR_NRF_MODULE_DIR)/samples/dfu/fw_loader/ble_mcumgr" if FIRMWARE_LOADER_IMAGE_BLE_MCUMGR
