#
# Copyright (c) 2021 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config MPSL_CX
	bool "Radio Coexistence interface support"
	help
	  Controls if Radio Coexistence interface is to be configured and enabled
	  when MPSL is initialized.

	  Radio Coexistence interface connects nRF5 radio protocols with external
	  Packet Traffic Arbiter (PTA) which denies or grants access to RF.

if MPSL_CX

choice MPSL_CX_CHOICE
	prompt "Radio Coexistence interface implementation"

config MPSL_CX_THREAD
	select NRFX_GPIOTE
	select GPIO
	depends on !BT
	bool "Thread Radio Coexistence [EXPERIMENTAL]"
	select EXPERIMENTAL
	help
	  Radio Coexistence interface implementation according to Thread Radio
	  Coexistence Practical recommendations for using a 3-wire PTA
	  implementation for co-located 2.4 GHz radios.

config MPSL_CX_BT
	depends on SOC_SERIES_NRF52X
	depends on !NRF_802154_RADIO_DRIVER
	select NRFX_GPIOTE
	select GPIO
	select NRFX_TIMER1
	bool "Bluetooth Radio Coexistence"
	help
	  Radio Coexistence interface implementation using a 3-wire PTA
	  implementation for co-located 2.4 GHz radios.

endchoice # MPSL_CX_CHOICE

endif	# MPSL_CX

module=MPSL_CX
module-str=MPSL_CX
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
