# Kconfig - common module configuration options

comment "Common modules configuration"

config NRF_BT_SVC_COMMON
	bool
	prompt "Enable service utils"
	default y if NRF_BT_HIDS
	help
	  Enable BLE service utils

if NRF_BT_SVC_COMMON

config NRF_BT_UUID_16_POOL_SIZE
	int "Maximum number of 16-bit UUID descriptors"
	default 10
	range 0 255
	help
	  Maximum number of 16-bit UUID descriptors that can be dynamically registered.

config NRF_BT_UUID_32_POOL_SIZE
	int "Maximum number of 32-bit UUID descriptors"
	default 0
	range 0 255
	help
	  Maximum number of 32-bit UUID descriptors that can be dynamically registered.

config NRF_BT_UUID_128_POOL_SIZE
	int "Maximum number of 128-bit UUID descriptors"
	default 0
	range 0 255
	help
	  Maximum number of 128-bit UUID descriptors that can be dynamically registered.

config NRF_BT_CHRC_POOL_SIZE
	int "Maximum number of characteristic descriptors"
	default 5
	range 0 255
	help
	  Maximum number of characteristic descriptors that can be dynamically registered.

config NRF_BT_CCC_POOL_SIZE
	int "Maximum number of CCCD descriptors"
	default 5
	range 0 255
	help
	  Maximum number of CCCD descriptors that can be dynamically registered.

config NRF_BT_STATISTICS_PRINT
	bool
	prompt "Enable functions for printing module statistics"
	default n
	help
	  Enable functions for printing module statistics

endif # NRF_BT_SVC_COMMON

config NRF_BT_GATT_DB_DISCOVERY
	bool
	prompt "Enable GATT DB Discovery"
	help
	  Enable GATT DB Discovery

if NRF_BT_GATT_DB_DISCOVERY

config NRF_BT_GATT_DB_DISCOVERY_MAX_ATTRS
	int "Maximum number of attributes that can be present in the discovered service"
	default 35
	help
	  Maximum number of attributes that can be present in the discovered service.

config NRF_BT_GATT_DB_DISCOVERY_MAX_MEM_CHUNKS
	int "Maximum number of allocated memory chunks containing GATT attribute data"
	default 6
	help
	  Maximum number of allocated memory blocks containing GATT attribute data.

choice
	prompt "GATT DB Discovery logging level"
	default NRF_BT_GATT_DB_DISCOVERY_LOG_LEVEL_DBG

config NRF_BT_GATT_DB_DISCOVERY_LOG_LEVEL_OFF
	bool "Off"
config NRF_BT_GATT_DB_DISCOVERY_LOG_LEVEL_ERR
	bool "Error"
config NRF_BT_GATT_DB_DISCOVERY_LOG_LEVEL_WRN
	bool "Warning"
config NRF_BT_GATT_DB_DISCOVERY_LOG_LEVEL_INF
	bool "Info"
config NRF_BT_GATT_DB_DISCOVERY_LOG_LEVEL_DBG
	bool "Debug"

endchoice

config NRF_BT_GATT_DB_DISCOVERY_LOG_LEVEL
	int
	default 0 if NRF_BT_GATT_DB_DISCOVERY_LOG_LEVEL_OFF
	default 1 if NRF_BT_GATT_DB_DISCOVERY_LOG_LEVEL_ERR
	default 2 if NRF_BT_GATT_DB_DISCOVERY_LOG_LEVEL_WRN
	default 3 if NRF_BT_GATT_DB_DISCOVERY_LOG_LEVEL_INF
	default 4 if NRF_BT_GATT_DB_DISCOVERY_LOG_LEVEL_DBG

config NRF_BT_GATT_DB_DISCOVERY_DATA_PRINT
	bool
	prompt "Enable functions for printing discovery related data"
	default y
	help
	  Enable functions for printing discovery related data

endif # NRF_BT_GATT_DB_DISCOVERY

menu "Nordic nRF Bluetooth Scan"
	visible if BT_CENTRAL

config NRF_BT_SCAN
	bool
	prompt "Enable scanning module"
	default n
	help
	  Enable scanning module

if NRF_BT_SCAN

config NRF_BT_SCAN_NAME_MAX_LEN
	int "Maximum size for the name to search in the advertisement report."
	default 32
	help
	  "Maximum size for the name to search in the advertisement report."

config NRF_BT_SCAN_SHORT_NAME_MAX_LEN
	int "Maximum size of the short name to search for in the advertisement report."
	default 32
	help
	  Maximum size of the short name to search for in the advertisement report.

config NRF_BT_SCAN_FILTER_ENABLE
	bool "Enabling filters for the Scanning Module."
	default n
	help
	  Enabling filters for the Scanning Module.

if NRF_BT_SCAN_FILTER_ENABLE

config NRF_BT_SCAN_UUID_CNT
	int "Number of filters for UUIDs."
	default 0
	help
	  Number of filters for UUIDs

config NRF_BT_SCAN_NAME_CNT
	int "Number of name filters"
	default 0
	help
	  Number of name filters

config NRF_BT_SCAN_SHORT_NAME_CNT
	int "Number of short name filters"
	default 0
	help
	  Number of short name filters

config NRF_BT_SCAN_ADDRESS_CNT
	int "Number of address filters"
	default 0
	help
	  Number of address filters

config NRF_BT_SCAN_APPEARANCE_CNT
	int "Number of appearance filters"
	default 0
	help
	  Number of appearance filters
endif

if !NRF_BT_SCAN_FILTER_ENABLE

config NRF_BT_SCAN_UUID_CNT
	int
	default 0
	help
	  Number of filters for UUIDs

config NRF_BT_SCAN_NAME_CNT
	int
	default 0
	help
	  Number of name filters

config NRF_BT_SCAN_SHORT_NAME_CNT
	int
	default 0
	help
	  Number of short name filters

config NRF_BT_SCAN_ADDRESS_CNT
	int
	default 0
	help
	  Number of address filters

config NRF_BT_SCAN_APPEARANCE_CNT
	int
	default 0
	help
	  Number of appearance filters

endif

choice
	prompt "Scanning logging level"
	default NRF_BT_SCAN_LOG_LEVEL_INF

config NRF_BT_SCAN_LOG_LEVEL_OFF
	bool "Off"
config NRF_BT_SCAN_LOG_LEVEL_ERR
	bool "Error"
config NRF_BT_SCAN_LOG_LEVEL_WRN
	bool "Warning"
config NRF_BT_SCAN_LOG_LEVEL_INF
	bool "Info"
config NRF_BT_SCAN_LOG_LEVEL_DBG
	bool "Debug"

endchoice

config NRF_BT_SCAN_LOG_LEVEL
	int
	default 0 if NRF_BT_SCAN_LOG_LEVEL_OFF
	default 1 if NRF_BT_SCAN_LOG_LEVEL_ERR
	default 2 if NRF_BT_SCAN_LOG_LEVEL_WRN
	default 3 if NRF_BT_SCAN_LOG_LEVEL_INF
	default 4 if NRF_BT_SCAN_LOG_LEVEL_DBG

endif # NRF_BT_SCAN

endmenu
