/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

&cpuapp_rx_partitions {
	/delete-node/ partition@a6000;
	cpuapp_slot0_partition: partition@a5000 {
		reg = <0xa5000 DT_SIZE_K(256)>;
	};

	cpuapp_recovery_partition: partition@e5000 {
		reg = <0xe5000 DT_SIZE_K(72)>;
	};

	companion_partition: partition@f7000 {
		reg = <0xf7000 DT_SIZE_K(36)>;
	};
};
&cpurad_rx_partitions {
	compatible = "nordic,owned-partitions", "fixed-partitions";
	status = "okay";
	perm-read;
	perm-execute;
	perm-secure;
	#address-cells = < 0x1 >;
	#size-cells = < 0x1 >;
	cpurad_slot0_partition: partition@66000 {
		reg = < 0x66000 DT_SIZE_K(160) >;
	};

	cpurad_recovery_partition: partition@8e000 {
		reg = < 0x8e000 DT_SIZE_K(92) >;
	};
};
