#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig APP_CONTROL
	bool "Application control"
	depends on CAF
	select APP_SENSOR_EVENTS
	select CAF_SENSOR_EVENTS
	select CAF_PM_EVENTS
	default y

if APP_CONTROL

config APP_CONTROL_BURST_INTERVAL_S
	int "Burst interval [s]"
	range 60 5400
	default 120
	help
	  Time in seconds between burst data acquisition from sensors.
	  If sensor data burst is not triggered by wake_up event from IMU,
	  burst is performed every interval value.

config APP_CONTROL_BURST_MEAS_CNT
	int "Number of measurements for a single burst"
	range 1 30
	default 10
	help
	  Number of measurements single burst acquires before going to sleep.

config APP_CONTROL_BURST_MEAS_INTERVAL_MS
	int "Burst measurements interval [ms]"
	range 1000 15000
	default 1000
	help
	  Interval between measurements for a single burst.

module = APP_CONTROL
module-str = app control
source "subsys/logging/Kconfig.template.log_config"

endif # APP_CONTROL
