:root {
    --docset-color: #e82424;
}

dl.kconfig {
    background-color: unset;
}

.wy-side-nav-search input[type=text] {
	visibility: hidden;
}

div#__kconfig-search .input-container {
    border: 2.5px solid rgb(0 0 0 / 60%);
    box-shadow: rgb(149 157 165 / 90%) 0px 8px 24px !important;
}
