/* Home page grid display */
.grid {
  list-style-type: none !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto;
  max-width: calc((160px + 2rem) * 4);
}

.grid-item {
  list-style-type: none !important;
  flex: 0 0 auto;
  width: 150px;
  text-align: center;
  margin: 1rem;
}

.grid-item a {
  display: block;
  width: 150px;
  height: 150px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background: linear-gradient(135deg, #0255b6 0%, #349dc8 100%);
  color: white;
}

.grid-item h2 {
  font-size: 1rem;
  color: #fff;
}

.grid-item img {
  margin-bottom: 1rem;
  max-width: 75%;
}

.grid-item a:hover {
  text-decoration: none;
}

.grid-item p {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.grid-icon {
  line-height: 1.5;
  font-size: 3rem;
  color: white;
}
