# Copyright (c) 2025 Nordic Semiconductor ASA
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

config VPR_LAUNCHER
	bool "VPR launcher"
	default y
	depends on SOC_NRF54LV10A_ENGA_CPUFLPR
	help
	  Include VPR launcher in build.
	  VPR launcher is a minimal sample built for an ARM core that starts given VPR core.
	  It is based on samples/basic/minimal with an appropriate snippet.
