#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config CRACEN_HW_PRESENT
	def_bool SOC_SERIES_NRF54LX

# Configure CRACEN_LOG_LEVEL
module = CRACEN
module-str = CRACEN
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

if PSA_CRYPTO_DRIVER_CRACEN

config CRACEN_LOAD_MICROCODE
	bool
	depends on SOC_SERIES_NRF54LX || SOC_SERIES_NRF54HX
	default y
	help
	  Prompt-less configuration to load the CRACEN microcode.
	  This is required to use the PKE/IKG engine. Note that this is not
	  required when a bootloader has already loaded the microcode.

config CRACEN_LIB_KMU
	bool
	depends on SOC_SERIES_NRF54LX
	default y
	help
	  The CRACEN KMU library.

config CRACEN_LOAD_KMU_SEED
	bool
	prompt "Load the CRACEN IKG seed"
	depends on CRACEN_LIB_KMU
	default y
	help
	  Configuration to load a The CRACEN IKG seed value from KMU.
	  The KMU seed is used to give support for key derived from IKG.
	  If there is no seed in KMU, it is expected to be generated.
	  Note that this is not required to be used if a bootloader is loading
	  KMU seed.

rsource 'psa_driver.Kconfig'

endif # PSA_CRYPTO_DRIVER_CRACEN
