#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

# This invisible menu helps hiding these not user selectable options
# from menuconfig even when show-all mode is enabled
menu "PSA NEED Oberon - invisible"
visible if 0

if PSA_CRYPTO_DRIVER_OBERON

# Oberon AEAD driver

config PSA_NEED_OBERON_AES_CCM
	bool
	default y
	depends on PSA_WANT_KEY_TYPE_AES
	depends on PSA_WANT_ALG_CCM
	depends on PSA_WANT_AES_KEY_SIZE_128 && !PSA_ACCEL_AES128_CCM || \
		   PSA_WANT_AES_KEY_SIZE_192 && !PSA_ACCEL_AES192_CCM || \
		   PSA_WANT_AES_KEY_SIZE_256 && !PSA_ACCEL_AES256_CCM

config PSA_NEED_OBERON_AES_GCM
	bool
	default y
	depends on PSA_WANT_KEY_TYPE_AES
	depends on PSA_WANT_ALG_GCM
	depends on PSA_WANT_AES_KEY_SIZE_128 && !PSA_ACCEL_AES128_GCM || \
		   PSA_WANT_AES_KEY_SIZE_192 && !PSA_ACCEL_AES192_GCM || \
		   PSA_WANT_AES_KEY_SIZE_256 && !PSA_ACCEL_AES256_GCM

config PSA_NEED_OBERON_CHACHA20_POLY1305
	bool
	default y
	depends on PSA_WANT_ALG_CHACHA20_POLY1305 && !PSA_ACCEL_CHACHA20_POLY1305

config PSA_NEED_OBERON_AEAD_DRIVER
	bool
	default y
	depends on PSA_NEED_OBERON_AES_CCM ||PSA_NEED_OBERON_AES_GCM || PSA_NEED_OBERON_CHACHA20_POLY1305

# Oberon Cipher Driver

config PSA_NEED_OBERON_AES_CTR
	bool
	default y
	depends on PSA_WANT_KEY_TYPE_AES
	depends on PSA_WANT_ALG_CTR
	depends on (PSA_WANT_AES_KEY_SIZE_128 && !PSA_ACCEL_AES128_CTR) || \
		   (PSA_WANT_AES_KEY_SIZE_192 && !PSA_ACCEL_AES192_CTR) || \
		   (PSA_WANT_AES_KEY_SIZE_256 && !PSA_ACCEL_AES256_CTR)

config PSA_NEED_OBERON_AES_CBC_NO_PADDING
	bool
	default y
	depends on PSA_WANT_KEY_TYPE_AES
	depends on PSA_WANT_ALG_CBC_NO_PADDING
	depends on (PSA_WANT_AES_KEY_SIZE_128 && !PSA_ACCEL_AES128_CBC_NO_PADDING) || \
		   (PSA_WANT_AES_KEY_SIZE_192 && !PSA_ACCEL_AES192_CBC_NO_PADDING) || \
		   (PSA_WANT_AES_KEY_SIZE_256 && !PSA_ACCEL_AES256_CBC_NO_PADDING)

config PSA_NEED_OBERON_AES_CBC_PKCS7
	bool
	default y
	depends on PSA_WANT_KEY_TYPE_AES
	depends on PSA_WANT_ALG_CBC_PKCS7
	depends on (PSA_WANT_AES_KEY_SIZE_128 && !PSA_ACCEL_AES128_CBC_PKCS7) || \
		   (PSA_WANT_AES_KEY_SIZE_192 && !PSA_ACCEL_AES192_CBC_PKCS7) || \
		   (PSA_WANT_AES_KEY_SIZE_256 && !PSA_ACCEL_AES256_CBC_PKCS7)

config PSA_NEED_OBERON_AES_ECB_NO_PADDING
	bool
	default y
	depends on PSA_WANT_KEY_TYPE_AES
	depends on PSA_WANT_ALG_ECB_NO_PADDING
	depends on (PSA_WANT_AES_KEY_SIZE_128 && !PSA_ACCEL_AES128_ECB_NO_PADDING) || \
		   (PSA_WANT_AES_KEY_SIZE_192 && !PSA_ACCEL_AES192_ECB_NO_PADDING) || \
		   (PSA_WANT_AES_KEY_SIZE_256 && !PSA_ACCEL_AES256_ECB_NO_PADDING)

config PSA_NEED_OBERON_AES_CCM_STAR_NO_TAG
	bool
	default y
	depends on PSA_WANT_KEY_TYPE_AES
	depends on PSA_WANT_ALG_CCM_STAR_NO_TAG
	depends on (PSA_WANT_AES_KEY_SIZE_128 && !PSA_ACCEL_AES128_CCM_STAR_NO_TAG) || \
		   (PSA_WANT_AES_KEY_SIZE_192 && !PSA_ACCEL_AES192_CCM_STAR_NO_TAG) || \
		   (PSA_WANT_AES_KEY_SIZE_256 && !PSA_ACCEL_AES256_CCM_STAR_NO_TAG)

config PSA_NEED_OBERON_CHACHA20
	bool
	default y
	depends on PSA_WANT_KEY_TYPE_CHACHA20
	depends on PSA_WANT_ALG_STREAM_CIPHER
	depends on !PSA_ACCEL_CHACHA20

config PSA_NEED_OBERON_CIPHER_DRIVER
	bool
	default y
	depends on PSA_NEED_OBERON_AES_CTR              || \
		   PSA_NEED_OBERON_AES_CBC_PKCS7        || \
		   PSA_NEED_OBERON_AES_CBC_NO_PADDING   || \
		   PSA_NEED_OBERON_AES_ECB_NO_PADDING   || \
		   PSA_NEED_OBERON_AES_CCM_STAR_NO_TAG  || \
		   PSA_NEED_OBERON_CHACHA20

# Oberon ECDH driver

config PSA_NEED_OBERON_ECDH_P224
	bool
	default y
	depends on PSA_WANT_ALG_ECDH
	depends on PSA_WANT_ECC_SECP_R1_224 && !PSA_ACCEL_ECDH_P224

config PSA_NEED_OBERON_ECDH_P256
	bool
	default y
	depends on PSA_WANT_ALG_ECDH
	depends on PSA_WANT_ECC_SECP_R1_256 && !PSA_ACCEL_ECDH_P256

config PSA_NEED_OBERON_ECDH_P384
	bool
	default y
	depends on PSA_WANT_ALG_ECDH
	depends on PSA_WANT_ECC_SECP_R1_384 && !PSA_ACCEL_ECDH_P384

config PSA_NEED_OBERON_ECDH_X25519
	bool
	default y
	depends on PSA_WANT_ALG_ECDH
	depends on PSA_WANT_ECC_MONTGOMERY_255 && !PSA_ACCEL_ECDH_X25519

config PSA_NEED_OBERON_ECDH_DRIVER
	bool
	default y
	depends on PSA_NEED_OBERON_ECDH_P224  || \
		   PSA_NEED_OBERON_ECDH_P256  || \
		   PSA_NEED_OBERON_ECDH_P384  || \
		   PSA_NEED_OBERON_ECDH_X25519

# Oberon ECDSA driver

config PSA_NEED_OBERON_ECDSA_P224
	bool
	default y
	depends on PSA_WANT_ALG_ECDSA || PSA_WANT_ALG_DETERMINISTIC_ECDSA
	depends on PSA_WANT_ECC_SECP_R1_224
	depends on (PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_ECDSA_P224_SHA1)    || \
		   (PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_ECDSA_P224_SHA224)  || \
		   (PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_ECDSA_P224_SHA256)  || \
		   (PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_ECDSA_P224_SHA384)  || \
		   (PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_ECDSA_P224_SHA512)

config PSA_NEED_OBERON_ECDSA_P256
	bool
	default y
	depends on PSA_WANT_ALG_ECDSA || PSA_WANT_ALG_DETERMINISTIC_ECDSA
	depends on PSA_WANT_ECC_SECP_R1_256
	depends on (PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_ECDSA_P256_SHA1  ) || \
		   (PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_ECDSA_P256_SHA224) || \
		   (PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_ECDSA_P256_SHA256) || \
		   (PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_ECDSA_P256_SHA384) || \
		   (PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_ECDSA_P256_SHA512)

config PSA_NEED_OBERON_ECDSA_P384
	bool
	default y
	depends on PSA_WANT_ALG_ECDSA || PSA_WANT_ALG_DETERMINISTIC_ECDSA
	depends on PSA_WANT_ECC_SECP_R1_384
	depends on (PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_ECDSA_P384_SHA1  ) || \
		   (PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_ECDSA_P384_SHA224) || \
		   (PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_ECDSA_P384_SHA256) || \
		   (PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_ECDSA_P384_SHA384) || \
		   (PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_ECDSA_P384_SHA512)

config PSA_NEED_OBERON_ECDSA_ED25519
	bool
	default y
	depends on PSA_WANT_ALG_PURE_EDDSA && !PSA_ACCEL_ECDSA_ED25519
	depends on PSA_WANT_ECC_TWISTED_EDWARDS_255

config PSA_NEED_OBERON_ECDSA_DRIVER
	bool
	default y
	depends on PSA_NEED_OBERON_ECDSA_P224    || \
		   PSA_NEED_OBERON_ECDSA_P256    || \
		   PSA_NEED_OBERON_ECDSA_P384    || \
		   PSA_NEED_OBERON_ECDSA_ED25519

config PSA_NEED_OBERON_DETERMINISTIC_ECDSA
	bool
	default y
	depends on PSA_NEED_OBERON_ECDSA_DRIVER
	depends on PSA_WANT_ALG_DETERMINISTIC_ECDSA

config PSA_NEED_OBERON_RANDOMIZED_ECDSA
	bool
	default y
	depends on PSA_NEED_OBERON_ECDSA_DRIVER
	depends on PSA_WANT_ALG_ECDSA

# Oberon Hash Driver

config PSA_NEED_OBERON_SHA_1
	bool
	default y
	depends on PSA_WANT_ALG_SHA_1 && !PSA_ACCEL_SHA1

config PSA_NEED_OBERON_SHA_224
	bool
	default y
	depends on PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_SHA224

config PSA_NEED_OBERON_SHA_256
	bool
	default y
	depends on PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_SHA256

config PSA_NEED_OBERON_SHA_384
	bool
	default y
	depends on PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_SHA384

config PSA_NEED_OBERON_SHA_512
	bool
	default y
	depends on PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_SHA512

config PSA_NEED_OBERON_HASH_DRIVER
	bool
	default y
	depends on PSA_NEED_OBERON_SHA_1   || \
		   PSA_NEED_OBERON_SHA_224 || \
		   PSA_NEED_OBERON_SHA_256 || \
		   PSA_NEED_OBERON_SHA_384 || \
		   PSA_NEED_OBERON_SHA_512

# Oberon Key Pair Driver

config PSA_NEED_OBERON_KEY_PAIR_P224
	bool
	default y
	depends on PSA_WANT_ECC_SECP_R1_224 && !PSA_ACCEL_KEY_PAIR_P224

config PSA_NEED_OBERON_KEY_PAIR_P256
	bool
	default y
	depends on PSA_WANT_ECC_SECP_R1_256 && !PSA_ACCEL_KEY_PAIR_P256

config PSA_NEED_OBERON_KEY_PAIR_P384
	bool
	default y
	depends on PSA_WANT_ECC_SECP_R1_384 && !PSA_ACCEL_KEY_PAIR_P384

config PSA_NEED_OBERON_KEY_PAIR_SECP
	bool
	default y
	depends on PSA_NEED_OBERON_KEY_PAIR_P224 || \
		   PSA_NEED_OBERON_KEY_PAIR_P256 || \
		   PSA_NEED_OBERON_KEY_PAIR_P384

config PSA_NEED_OBERON_KEY_PAIR_X25519
	bool
	default y
	depends on PSA_WANT_ECC_MONTGOMERY_255 && !PSA_ACCEL_KEY_PAIR_X25519

config PSA_NEED_OBERON_KEY_PAIR_ED25519
	bool
	default y
	depends on PSA_WANT_ECC_TWISTED_EDWARDS_255 && !PSA_ACCEL_KEY_PAIR_ED25519

config PSA_NEED_OBERON_KEY_PAIR_25519
	bool
	default y
	depends on PSA_NEED_OBERON_KEY_PAIR_X25519 || PSA_NEED_OBERON_KEY_PAIR_ED25519


config PSA_NEED_OBERON_KEY_PAIR_DRIVER
	bool
	default y
	depends on PSA_NEED_OBERON_KEY_PAIR_SECP || PSA_NEED_OBERON_KEY_PAIR_25519

# Oberon MAC Driver

config PSA_NEED_OBERON_HMAC
	bool
	default y
	depends on PSA_WANT_ALG_HMAC
	depends on (PSA_WANT_ALG_SHA_1 && !PSA_ACCEL_HMAC_SHA1)     || \
		   (PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_HMAC_SHA224) || \
		   (PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_HMAC_SHA256) || \
		   (PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_HMAC_SHA384) || \
		   (PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_HMAC_SHA512)

config PSA_NEED_OBERON_CMAC
	bool
	default y
	depends on PSA_WANT_ALG_CMAC
	depends on (PSA_WANT_AES_KEY_SIZE_128 && !PSA_ACCEL_AES128_CMAC) || \
		   (PSA_WANT_AES_KEY_SIZE_192 && !PSA_ACCEL_AES192_CMAC) || \
		   (PSA_WANT_AES_KEY_SIZE_256 && !PSA_ACCEL_AES256_CMAC)

config PSA_NEED_OBERON_MAC_DRIVER
	bool
	default y
	depends on PSA_NEED_OBERON_CMAC || PSA_NEED_OBERON_HMAC

# Oberon KDF Driver

config PSA_NEED_OBERON_HKDF
	bool
	default y
	depends on PSA_WANT_ALG_HKDF
	depends on (PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_HKDF_SHA1)   || \
		   (PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_HKDF_SHA224) || \
		   (PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_HKDF_SHA256) || \
		   (PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_HKDF_SHA384) || \
		   (PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_HKDF_SHA512)

config PSA_NEED_OBERON_HKDF_EXTRACT
	bool
	default y
	depends on PSA_WANT_ALG_HKDF_EXTRACT
	depends on (PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_HKDF_EXTRACT_SHA1)   || \
		   (PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_HKDF_EXTRACT_SHA224) || \
		   (PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_HKDF_EXTRACT_SHA256) || \
		   (PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_HKDF_EXTRACT_SHA384) || \
		   (PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_HKDF_EXTRACT_SHA512)

config PSA_NEED_OBERON_HKDF_EXPAND
	bool
	default y
	depends on PSA_WANT_ALG_HKDF_EXPAND
	depends on (PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_HKDF_EXPAND_SHA1)   || \
		   (PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_HKDF_EXPAND_SHA224) || \
		   (PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_HKDF_EXPAND_SHA256) || \
		   (PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_HKDF_EXPAND_SHA384) || \
		   (PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_HKDF_EXPAND_SHA512)

config PSA_NEED_OBERON_TLS12_PRF
	bool
	default y
	depends on PSA_WANT_ALG_TLS12_PRF
	depends on (PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_TLS12_PRF_SHA256) || \
		   (PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_TLS12_PRF_SHA384)

config PSA_NEED_OBERON_TLS12_PSK_TO_MS
	bool
	default y
	depends on PSA_WANT_ALG_TLS12_PSK_TO_MS
	depends on (PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_TLS12_PSK_TO_MS_SHA256) || \
		   (PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_TLS12_PSK_TO_MS_SHA384)

config PSA_NEED_OBERON_PBKDF2_HMAC
	bool
	default y
	depends on PSA_WANT_ALG_PBKDF2_HMAC
	depends on (PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_PBKDF2_HMAC_SHA1)   || \
		   (PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_PBKDF2_HMAC_SHA224) || \
		   (PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_PBKDF2_HMAC_SHA256) || \
		   (PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_PBKDF2_HMAC_SHA384) || \
		   (PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_PBKDF2_HMAC_SHA512)

config PSA_NEED_OBERON_PBKDF2_AES_CMAC_PRF_128
	bool
	default y
	depends on (PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_PBKDF2_HMAC_SHA1)   || \
		   (PSA_WANT_ALG_PBKDF2_AES_CMAC_PRF_128 && !PSA_ACCEL_AES_CMAC_PRF_128)

config PSA_NEED_OBERON_ECJPAKE_TO_PMS
	bool
	default y
	depends on PSA_WANT_ALG_TLS12_ECJPAKE_TO_PMS && !PSA_ACCEL_ECJPAKE_TO_PMS

config PSA_NEED_OBERON_KDF_DRIVER
	bool
	default y
	depends on PSA_NEED_OBERON_HKDF                     || \
		   PSA_NEED_OBERON_HKDF_EXTRACT             || \
		   PSA_NEED_OBERON_HKDF_EXPAND              || \
		   PSA_NEED_OBERON_TLS12_PRF                || \
		   PSA_NEED_OBERON_TLS12_PSK_TO_MS          || \
		   PSA_NEED_OBERON_PBKDF2_HMAC              || \
		   PSA_NEED_OBERON_PBKDF2_AES_CMAC_PRF_128  || \
		   PSA_NEED_OBERON_ECJPAKE_TO_PMS


# Oberon PAKE Driver

config PSA_NEED_OBERON_ECJPAKE_P256
	bool
	default y
	depends on PSA_WANT_ALG_JPAKE
	depends on (PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_ECJPAKE_P256_SHA1)   || \
		   (PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_ECJPAKE_P256_SHA224) || \
		   (PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_ECJPAKE_P256_SHA256) || \
		   (PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_ECJPAKE_P256_SHA384) || \
		   (PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_ECJPAKE_P256_SHA512)

config PSA_NEED_OBERON_JPAKE_DRIVER
	bool
	default y
	depends on PSA_NEED_OBERON_ECJPAKE_P256


config PSA_NEED_OBERON_SPAKE2P_P256
	bool
	default y
	depends on PSA_WANT_ALG_JPAKE
	depends on (PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_SPAKE2P_P256_SHA1)   || \
		   (PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_SPAKE2P_P256_SHA224) || \
		   (PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_SPAKE2P_P256_SHA256) || \
		   (PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_SPAKE2P_P256_SHA384) || \
		   (PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_SPAKE2P_P256_SHA512)

config PSA_NEED_OBERON_SPAKE2P_DRIVER
	bool
	default y
	depends on PSA_NEED_OBERON_SPAKE2P_P256


config PSA_NEED_OBERON_SRP_6_3072
	bool
	default y
	depends on PSA_WANT_ALG_SRP_6
	depends on (PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_SRP_6_3072_SHA1)   || \
		   (PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_SRP_6_3072_SHA224) || \
		   (PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_SRP_6_3072_SHA256) || \
		   (PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_SRP_6_3072_SHA384) || \
		   (PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_SRP_6_3072_SHA512)

config PSA_NEED_OBERON_SRP_DRIVER
	bool
	default y
	depends on PSA_NEED_OBERON_SRP_6_3072

# Oberon RSA Driver

config PSA_NEED_OBERON_RSA_KEY_SIZE_1024
	bool
	default y
	depends on PSA_WANT_RSA_KEY_SIZE_1024
	depends on (PSA_WANT_ALG_RSA_PKCS1V15_CRYPT && !PSA_ACCEL_RSA1024_PKCS1V15_CRYPT)  || \
		   (PSA_WANT_ALG_RSA_OAEP && (                                                \
			(PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_RSA1024_SHA1_OAEP)             || \
			(PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_RSA1024_SHA224_OAEP)           || \
			(PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_RSA1024_SHA256_OAEP)           || \
			(PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_RSA1024_SHA384_OAEP)           || \
			(PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_RSA1024_SHA512_OAEP)))         || \
		   (PSA_WANT_ALG_RSA_PSS && (                                                 \
			(PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_RSA1024_SHA1_PSS)              || \
			(PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_RSA1024_SHA224_PSS)            || \
			(PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_RSA1024_SHA256_PSS)            || \
			(PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_RSA1024_SHA384_PSS)            || \
			(PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_RSA1024_SHA512_PSS)))          || \
		   (PSA_WANT_ALG_RSA_PKCS1V15_SIGN && (                                       \
			(PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_RSA1024_SHA1_PKCS1V15_SIGN)    || \
			(PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_RSA1024_SHA224_PKCS1V15_SIGN)  || \
			(PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_RSA1024_SHA256_PKCS1V15_SIGN)  || \
			(PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_RSA1024_SHA384_PKCS1V15_SIGN)  || \
			(PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_RSA1024_SHA512_PKCS1V15_SIGN)))

config PSA_NEED_OBERON_RSA_KEY_SIZE_1536
	bool
	default y
	depends on PSA_WANT_RSA_KEY_SIZE_1536
	depends on (PSA_WANT_ALG_RSA_PKCS1V15_CRYPT && !PSA_ACCEL_RSA1536_PKCS1V15_CRYPT)  || \
		   (PSA_WANT_ALG_RSA_OAEP && (                                                \
			(PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_RSA1536_SHA1_OAEP)             || \
			(PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_RSA1536_SHA224_OAEP)           || \
			(PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_RSA1536_SHA256_OAEP)           || \
			(PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_RSA1536_SHA384_OAEP)           || \
			(PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_RSA1536_SHA512_OAEP)))         || \
		   (PSA_WANT_ALG_RSA_PSS && (                                                 \
			(PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_RSA1536_SHA1_PSS)              || \
			(PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_RSA1536_SHA224_PSS)            || \
			(PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_RSA1536_SHA256_PSS)            || \
			(PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_RSA1536_SHA384_PSS)            || \
			(PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_RSA1536_SHA512_PSS)))          || \
		   (PSA_WANT_ALG_RSA_PKCS1V15_SIGN && (                                       \
			(PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_RSA1536_SHA1_PKCS1V15_SIGN)    || \
			(PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_RSA1536_SHA224_PKCS1V15_SIGN)  || \
			(PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_RSA1536_SHA256_PKCS1V15_SIGN)  || \
			(PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_RSA1536_SHA384_PKCS1V15_SIGN)  || \
			(PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_RSA1536_SHA512_PKCS1V15_SIGN)))

config PSA_NEED_OBERON_RSA_KEY_SIZE_2048
	bool
	default y
	depends on PSA_WANT_RSA_KEY_SIZE_2048
	depends on (PSA_WANT_ALG_RSA_PKCS1V15_CRYPT && !PSA_ACCEL_RSA2048_PKCS1V15_CRYPT)  || \
		   (PSA_WANT_ALG_RSA_OAEP && (                                                \
			(PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_RSA2048_SHA1_OAEP)             || \
			(PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_RSA2048_SHA224_OAEP)           || \
			(PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_RSA2048_SHA256_OAEP)           || \
			(PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_RSA2048_SHA384_OAEP)           || \
			(PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_RSA2048_SHA512_OAEP)))         || \
		   (PSA_WANT_ALG_RSA_PSS && (                                                 \
			(PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_RSA2048_SHA1_PSS)              || \
			(PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_RSA2048_SHA224_PSS)            || \
			(PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_RSA2048_SHA256_PSS)            || \
			(PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_RSA2048_SHA384_PSS)            || \
			(PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_RSA2048_SHA512_PSS)))          || \
		   (PSA_WANT_ALG_RSA_PKCS1V15_SIGN && (                                       \
			(PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_RSA2048_SHA1_PKCS1V15_SIGN)    || \
			(PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_RSA2048_SHA224_PKCS1V15_SIGN)  || \
			(PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_RSA2048_SHA256_PKCS1V15_SIGN)  || \
			(PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_RSA2048_SHA384_PKCS1V15_SIGN)  || \
			(PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_RSA2048_SHA512_PKCS1V15_SIGN)))

config PSA_NEED_OBERON_RSA_KEY_SIZE_3072
	bool
	default y
	depends on PSA_WANT_RSA_KEY_SIZE_3072
	depends on (PSA_WANT_ALG_RSA_PKCS1V15_CRYPT && !PSA_ACCEL_RSA3072_PKCS1V15_CRYPT)  || \
		   (PSA_WANT_ALG_RSA_OAEP && (                                                \
			(PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_RSA3072_SHA1_OAEP)             || \
			(PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_RSA3072_SHA224_OAEP)           || \
			(PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_RSA3072_SHA256_OAEP)           || \
			(PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_RSA3072_SHA384_OAEP)           || \
			(PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_RSA3072_SHA512_OAEP)))         || \
		   (PSA_WANT_ALG_RSA_PSS && (                                                 \
			(PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_RSA3072_SHA1_PSS)              || \
			(PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_RSA3072_SHA224_PSS)            || \
			(PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_RSA3072_SHA256_PSS)            || \
			(PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_RSA3072_SHA384_PSS)            || \
			(PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_RSA3072_SHA512_PSS)))          || \
		   (PSA_WANT_ALG_RSA_PKCS1V15_SIGN && (                                       \
			(PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_RSA3072_SHA1_PKCS1V15_SIGN)    || \
			(PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_RSA3072_SHA224_PKCS1V15_SIGN)  || \
			(PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_RSA3072_SHA256_PKCS1V15_SIGN)  || \
			(PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_RSA3072_SHA384_PKCS1V15_SIGN)  || \
			(PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_RSA3072_SHA512_PKCS1V15_SIGN)))

config PSA_NEED_OBERON_RSA_KEY_SIZE_4096
	bool
	default y
	depends on PSA_WANT_RSA_KEY_SIZE_4096
	depends on (PSA_WANT_ALG_RSA_PKCS1V15_CRYPT && !PSA_ACCEL_RSA4096_PKCS1V15_CRYPT)  || \
		   (PSA_WANT_ALG_RSA_OAEP && (                                                \
			(PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_RSA4096_SHA1_OAEP)             || \
			(PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_RSA4096_SHA224_OAEP)           || \
			(PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_RSA4096_SHA256_OAEP)           || \
			(PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_RSA4096_SHA384_OAEP)           || \
			(PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_RSA4096_SHA512_OAEP)))         || \
		   (PSA_WANT_ALG_RSA_PSS && (                                                 \
			(PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_RSA4096_SHA1_PSS)              || \
			(PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_RSA4096_SHA224_PSS)            || \
			(PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_RSA4096_SHA256_PSS)            || \
			(PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_RSA4096_SHA384_PSS)            || \
			(PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_RSA4096_SHA512_PSS)))          || \
		   (PSA_WANT_ALG_RSA_PKCS1V15_SIGN && (                                       \
			(PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_RSA4096_SHA1_PKCS1V15_SIGN)    || \
			(PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_RSA4096_SHA224_PKCS1V15_SIGN)  || \
			(PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_RSA4096_SHA256_PKCS1V15_SIGN)  || \
			(PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_RSA4096_SHA384_PKCS1V15_SIGN)  || \
			(PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_RSA4096_SHA512_PKCS1V15_SIGN)))

config PSA_NEED_OBERON_RSA_KEY_SIZE_6144
	bool
	default y
	depends on PSA_WANT_RSA_KEY_SIZE_6144
	depends on (PSA_WANT_ALG_RSA_PKCS1V15_CRYPT && !PSA_ACCEL_RSA6144_PKCS1V15_CRYPT)  || \
		   (PSA_WANT_ALG_RSA_OAEP && (                                                \
			(PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_RSA6144_SHA1_OAEP)             || \
			(PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_RSA6144_SHA224_OAEP)           || \
			(PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_RSA6144_SHA256_OAEP)           || \
			(PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_RSA6144_SHA384_OAEP)           || \
			(PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_RSA6144_SHA512_OAEP)))         || \
		   (PSA_WANT_ALG_RSA_PSS && (                                                 \
			(PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_RSA6144_SHA1_PSS)              || \
			(PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_RSA6144_SHA224_PSS)            || \
			(PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_RSA6144_SHA256_PSS)            || \
			(PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_RSA6144_SHA384_PSS)            || \
			(PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_RSA6144_SHA512_PSS)))          || \
		   (PSA_WANT_ALG_RSA_PKCS1V15_SIGN && (                                       \
			(PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_RSA6144_SHA1_PKCS1V15_SIGN)    || \
			(PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_RSA6144_SHA224_PKCS1V15_SIGN)  || \
			(PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_RSA6144_SHA256_PKCS1V15_SIGN)  || \
			(PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_RSA6144_SHA384_PKCS1V15_SIGN)  || \
			(PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_RSA6144_SHA512_PKCS1V15_SIGN)))

config PSA_NEED_OBERON_RSA_KEY_SIZE_8192
	bool
	default y
	depends on PSA_WANT_RSA_KEY_SIZE_8192
	depends on (PSA_WANT_ALG_RSA_PKCS1V15_CRYPT && !PSA_ACCEL_RSA8192_PKCS1V15_CRYPT)  || \
		   (PSA_WANT_ALG_RSA_OAEP && (                                                \
			(PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_RSA8192_SHA1_OAEP)             || \
			(PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_RSA8192_SHA224_OAEP)           || \
			(PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_RSA8192_SHA256_OAEP)           || \
			(PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_RSA8192_SHA384_OAEP)           || \
			(PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_RSA8192_SHA512_OAEP)))         || \
		   (PSA_WANT_ALG_RSA_PSS && (                                                 \
			(PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_RSA8192_SHA1_PSS)              || \
			(PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_RSA8192_SHA224_PSS)            || \
			(PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_RSA8192_SHA256_PSS)            || \
			(PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_RSA8192_SHA384_PSS)            || \
			(PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_RSA8192_SHA512_PSS)))          || \
		   (PSA_WANT_ALG_RSA_PKCS1V15_SIGN && (                                       \
			(PSA_WANT_ALG_SHA_1   && !PSA_ACCEL_RSA8192_SHA1_PKCS1V15_SIGN)    || \
			(PSA_WANT_ALG_SHA_224 && !PSA_ACCEL_RSA8192_SHA224_PKCS1V15_SIGN)  || \
			(PSA_WANT_ALG_SHA_256 && !PSA_ACCEL_RSA8192_SHA256_PKCS1V15_SIGN)  || \
			(PSA_WANT_ALG_SHA_384 && !PSA_ACCEL_RSA8192_SHA384_PKCS1V15_SIGN)  || \
			(PSA_WANT_ALG_SHA_512 && !PSA_ACCEL_RSA8192_SHA512_PKCS1V15_SIGN)))

config PSA_NEED_OBERON_ANY_RSA_KEY_SIZE
	bool
	default y
	depends on PSA_NEED_OBERON_RSA_KEY_SIZE_1024 || \
		   PSA_NEED_OBERON_RSA_KEY_SIZE_1536 || \
		   PSA_NEED_OBERON_RSA_KEY_SIZE_2048 || \
		   PSA_NEED_OBERON_RSA_KEY_SIZE_3072 || \
		   PSA_NEED_OBERON_RSA_KEY_SIZE_4096 || \
		   PSA_NEED_OBERON_RSA_KEY_SIZE_6144 || \
		   PSA_NEED_OBERON_RSA_KEY_SIZE_8192

config PSA_NEED_OBERON_RSA_PSS
	bool
	default y
	depends on PSA_WANT_ALG_RSA_PSS
	depends on PSA_NEED_OBERON_ANY_RSA_KEY_SIZE

config PSA_NEED_OBERON_RSA_PKCS1V15_SIGN
	bool
	default y
	depends on PSA_WANT_ALG_RSA_PKCS1V15_SIGN
	depends on PSA_NEED_OBERON_ANY_RSA_KEY_SIZE

config PSA_NEED_OBERON_RSA_SIGN
	bool
	default y
	depends on PSA_NEED_OBERON_RSA_PSS || PSA_NEED_OBERON_RSA_PKCS1V15_SIGN

config PSA_NEED_OBERON_RSA_PKCS1V15_CRYPT
	bool
	default y
	depends on PSA_WANT_ALG_RSA_PKCS1V15_CRYPT
	depends on PSA_NEED_OBERON_ANY_RSA_KEY_SIZE

config PSA_NEED_OBERON_RSA_OAEP
	bool
	default y
	depends on PSA_WANT_ALG_RSA_OAEP
	depends on PSA_NEED_OBERON_ANY_RSA_KEY_SIZE

config PSA_NEED_OBERON_RSA_CRYPT
	bool
	default y
	depends on PSA_NEED_OBERON_RSA_PKCS1V15_CRYPT || PSA_NEED_OBERON_RSA_OAEP

config PSA_NEED_OBERON_RSA_DRIVER
	bool
	default y
	depends on PSA_NEED_OBERON_RSA_CRYPT || PSA_NEED_OBERON_RSA_SIGN

# Oberon Random Driver

config PSA_NEED_OBERON_CTR_DRBG_DRIVER
	bool
	default y
	depends on PSA_ACCEL_ENTROPY
	depends on PSA_USE_CTR_DRBG_DRIVER && !PSA_ACCEL_RANDOM
	select PSA_WANT_ALG_ECB_NO_PADDING

config PSA_NEED_OBERON_HMAC_DRBG_DRIVER
	bool
	default y
	depends on PSA_ACCEL_ENTROPY
	depends on PSA_USE_HMAC_DRBG_DRIVER && !PSA_ACCEL_RANDOM

endif # PSA_CRYPTO_DRIVER_OBERON
endmenu
