#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "BT renderer"

rsource "volume/Kconfig"

#----------------------------------------------------------------------------#
menu "Log level"

module = BT_REND
module-str = bt-rend
source "subsys/logging/Kconfig.template.log_config"

endmenu # Log level
endmenu # BT renderer
