#
# Copyright (c) 2019 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

if BT_MESH

menu "Bluetooth Mesh"

rsource "Kconfig.models"
rsource "Kconfig.dk_prov"

endmenu

endif # BT_MESH
