menu "Local sourcing"

source "$(ZEPHYR_NRF_MODULE_DIR)/lib/nrf_modem_lib/Kconfig.modemlib"

endmenu

config HAS_SEGGER_RTT
	bool
	default y
	help
	    This symbol overrides the promptless symbol HAS_SEGGER_RTT because this is needed by
	    the unit test.

source "Kconfig.zephyr"
