# Document Information

SPDXVersion: SPDX-2.2
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: west-ncs-sbom-report
DocumentNamespace: http://spdx.org/spdxdocs/west-ncs-sbom-{{report_uuid}}

# Creation Info

Creator: Tool: west-ncs-sbom
Created: {{func.timestamp()}}
CreatorComment:<text>Generated with west-ncs-sbom. For details, see https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/nrf/introduction.html#licenses.</text>

{% set files_by_package = func.group_by(files, 'package') -%}
{% set package_refs = {} -%}
{% for package_id in packages_sorted -%}
{% set _ = package_refs.update({package_id: 'SPDXRef-package-' ~ loop.index}) -%}
{% endfor -%}
{% set file_refs = {} -%}
{% set ns = namespace(file_counter=0) -%}
{% for package_id in packages_sorted -%}
{% for file in files_by_package.get(package_id, []) -%}
{% set ns.file_counter = ns.file_counter + 1 -%}
{% set _ = file_refs.update({file.file_path: 'SPDXRef-file-' ~ ns.file_counter}) -%}
{% endfor -%}
{% endfor -%}

{% for package_id in packages_sorted -%}
{% set package = packages[package_id] -%}
{% set package_files = files_by_package.get(package_id, []) -%}

# Package Information

PackageName: {{package.name or package.url or 'unknown-package'}}
SPDXID: {{package_refs[package_id]}}
{% if package.version -%}
PackageVersion: {{package.version}}
{% endif -%}
{% if package.supplier -%}
PackageSupplier: Organization: {{package.supplier}}
{% else -%}
PackageSupplier: NOASSERTION
{% endif -%}
PackageDownloadLocation: {{package.url or 'NONE'}}
{% if package.purl -%}
ExternalRef: PACKAGE-MANAGER purl {{package.purl}}
{% endif -%}
{% if package.cpe -%}
ExternalRef: SECURITY cpe23Type {{package.cpe}}
{% endif -%}
FilesAnalyzed: {{'true' if package_files else 'false'}}
{% if package_files -%}
PackageVerificationCode: {{package_files | verification_code}}
{% else -%}
PackageVerificationCode: NOASSERTION
{% endif -%}
PackageLicenseConcluded: NOASSERTION
PackageLicenseInfoFromFiles: NOASSERTION
PackageLicenseDeclared: NOASSERTION
PackageCopyrightText: NOASSERTION
{% for file in package_files -%}

# File

FileName: {{func.relative_path(file.file_path)}}
SPDXID: {{file_refs[file.file_path]}}
FileChecksum: SHA1: {{file.sha1}}
{% if file.local_modifications -%}
FileComment: <text>This file is modified locally.</text>
{% endif -%}
LicenseConcluded: {{ file.license_expr | adjust_identifier if file.license_expr != '' else 'NOASSERTION' }}
LicenseInfoInFile: NOASSERTION
FileCopyrightText: NOASSERTION

{% endfor -%}

{% endfor -%}

# Relationships
{% for package_id in packages_sorted -%}
Relationship: SPDXRef-DOCUMENT DESCRIBES {{package_refs[package_id]}}
{% endfor -%}
{% for package_id in packages_sorted -%}
{% for file in files_by_package.get(package_id, []) -%}
Relationship: {{package_refs[package_id]}} CONTAINS {{file_refs[file.file_path]}}
{% endfor -%}
{% endfor -%}
{% for package_id in packages_sorted -%}
{% if packages[package_id].dependencies -%}
{% for dep_id in packages[package_id].dependencies -%}
{% if dep_id in package_refs -%}
Relationship: {{package_refs[package_id]}} DEPENDS_ON {{package_refs[dep_id]}}
{% endif -%}
{% endfor -%}
{% endif -%}
{% endfor -%}

# Extracted Licenses
{% for license in licenses_sorted if not licenses[license].is_expr and licenses[license].text %}
LicenseID: {{licenses[license].friendly_id}}
{% if licenses[license].name -%}
LicenseName: {{licenses[license].name}}
{% endif -%}
{% if licenses[license].url -%}
LicenseCrossReference: {{licenses[license].url}}
{% endif -%}
ExtractedText: <text>{{ licenses[license].text }}</text>
{% endfor %}
