*.o
*.d
*.cmd
*.log
*.pyc
*.swp
*.swo
*~
build
build-*
build_*
cscope.*
.dir

/*.patch

tags
.project
.cproject
.xxproject
.envrc
.vscode

doc/_build
doc/nrf/_doxygen/
doc/nrf/_samples/
doc/*_warnings.txt
doc/*_doc.log
