*.o
*.d
*.cmd
*.log
*.pyc
*.swp
*.swo
*~
build
build-*
build_*
cscope.*
.dir
venv
.venv

/*.patch

tags
.project
.cproject
.xxproject
.envrc
.vscode
sanity-out*
twister-out*

doc/_build
doc/nrf/_doxygen/
doc/nrf/_samples/
doc/*_warnings.txt
doc/*_doc.log

ext/lib/bin/supl
ext/lib/bin/libsupl.zip
