#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menu "Nordic nRF Connect"

# This is a temporary solution to whitelist
# BOARD_THINGY91_NRF9160NS in compliance
config BOARD_THINGY91_NRF9160NS
	bool

rsource "samples/Kconfig"
rsource "subsys/Kconfig"
rsource "lib/Kconfig"
rsource "drivers/Kconfig"
rsource "ext/Kconfig"
rsource "tests/Kconfig"

endmenu
