#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Nordic nRF Connect"

# This is a temporary solution to whitelist
# BOARD_THINGY91_NRF9160NS in compliance
config BOARD_THINGY91_NRF9160NS
	bool

# Handle default to ensure that BT only will disable ENTROPY_CC3XX,
# while multi protocol does not.
config ENTROPY_CC3XX
	default y if ZIGBEE || OPENTHREAD_NRF_SECURITY
	default n if BT

# nRF Connect SDK needs a larger default stacks for running certain tests
# or if ENTROPY_CC3XX is enabled.
config MAIN_STACK_SIZE
	default 2048 if ZTEST
	default 2048 if ENTROPY_CC3XX && !(SPM || BUILD_WITH_TFM)

config ZTEST_STACKSIZE
	default 2048 if ZTEST

config PRIVILEGED_STACK_SIZE
	default 2048 if ZTEST

rsource "samples/Kconfig"
rsource "subsys/Kconfig"
rsource "modules/Kconfig"
rsource "lib/Kconfig"
rsource "drivers/Kconfig"
rsource "ext/Kconfig"
rsource "tests/Kconfig"

endmenu
