# Copyright (c) 2025 Nordic Semiconductor ASA
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
config BOARD_NRF7120PDK
	select SOC_NRF7120_ENGA_CPUAPP if BOARD_NRF7120PDK_NRF7120_CPUAPP  || \
						BOARD_NRF7120PDK_NRF7120_CPUAPP_NS || \
						BOARD_NRF7120PDK_NRF7120_CPUAPP_EMU || \
						BOARD_NRF7120PDK_NRF7120_CPUAPP_FPGA
	select SOC_NRF7120_PREENG if BOARD_NRF7120PDK_NRF7120_CPUAPP_EMU || \
						BOARD_NRF7120PDK_NRF7120_CPUAPP_FPGA
	select SOC_NRF7120_ENGA_CPUFLPR if BOARD_NRF7120PDK_NRF7120_CPUFLPR || \
					    BOARD_NRF7120PDK_NRF7120_CPUFLPR_XIP
