#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig SUIT_METADATA
	bool "Enable SUIT Manifest Metadata types and conversion utilities"

if SUIT_METADATA

config APP_LINK_WITH_SUIT_METADATA
	bool
	default y

endif # SUIT_METADATA
