board_runner_args(jlink "--device={{ soc | replace("nrf", "nRF") | replace("ls", "LS") | replace("a", "A") }}_M33" "--speed=4000")

include(${ZEPHYR_BASE}/boards/common/nrfutil.board.cmake)
include(${ZEPHYR_BASE}/boards/common/jlink.board.cmake)
