#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config BT_NSMS
	bool "Nordic Status Message service"
	select BT_NRF_SERVICES
	help
	  Enable Nordic Status Message service.

if BT_NSMS

module = BT_NSMS
module-str = NSMS
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # BT_NSMS
