#
# Copyright (c) 2019 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

# Workaround for not being able to have commas in macro arguments
DT_COMPAT_ST_ST25R3911B := st,st25r3911b

menuconfig ST25R3911B_LIB
	bool "NFC ST25R3911B library"
	depends on $(dt_compat_enabled,$(DT_COMPAT_ST_ST25R3911B))
	help
	  Enable the NFC ST25R3911B library.

	  In order to enable this library, the devicetree must have a
	  node with compatible "st,st25r3911b" enabled. This provides
	  devicetree data which is used to configure board-specific
	  code.

if ST25R3911B_LIB

module = ST25R3911B_LIB
module-str = ST25R3911B
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # ST25R3911B_LIB
