# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Shell"

config NRF_MODEM_LIB_SHELL_TRACE
	bool "Modem trace shell commands"

if NRF_MODEM_LIB_SHELL_TRACE

DT_CHOSEN_NORDIC_MODEM_TRACE_UART := nordic,modem-trace-uart
config NRF_MODEM_LIB_SHELL_TRACE_UART
	bool
	default $(dt_chosen_enabled,$(DT_CHOSEN_NORDIC_MODEM_TRACE_UART))

endif # NRF_MODEM_LIB_SHELL_TRACE

endmenu
