#
# Copyright (c) 2024 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config SUIT_INVOKE_APP_LOCAL_3_BEFORE_MAIN_APP
	bool "Run recovery before main application on startup"
	help
	  This Kconfig option should be set if the app_local_3 manifest application should be invoked
	  on startup before the main application.
	  This is useful if a companion image (most commonly the same iamge as the recovery application
	  core image) is to be used for checking conditions (such as checking
	  if a button is pressed) and optionally entering the recovery mode.

rsource "recovery_button/Kconfig"
