#
# Copyright (c) 2020 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "DFU"

rsource "dfu_multi_image/Kconfig"

rsource "dfu_target/Kconfig"

rsource "fmfu_fdev/Kconfig"

endmenu
