#
# Copyright (c) 2022 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Utilities"

rsource "Kconfig.adv_prov"
rsource "Kconfig.dfu_lock"
rsource "Kconfig.hid_eventq"
rsource "Kconfig.hid_keymap"
rsource "Kconfig.hid_reportq"
rsource "Kconfig.hwid"
rsource "Kconfig.keys_state"

endmenu
