# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig NRF_MODEM_LIB
	bool "Modem library"
	depends on SOC_SERIES_NRF91X
	depends on TRUSTED_EXECUTION_NONSECURE
	select NRF_MODEM
	imply NET_SOCKETS_OFFLOAD
	imply NET_SOCKETS_POSIX_NAMES if !POSIX_API
	# The modem must be turned on to achieve low power consumption.
	# But disable it for ZTEST's as some tests have HW
	# resource-conflicts with NRF_MODEM_LIB.
	default y if !ZTEST
	help
	  Use Nordic Modem library.

if NRF_MODEM_LIB

rsource "Kconfig.modemlib"

endif # NRF_MODEM_LIB
