#
# Copyright (c) 2021 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Vendor models"

config BT_MESH_VENDOR_MODELS
	bool
	select BT_MESH_NRF_MODELS
	help
	  Vendor model modules, required by all Nordic-provided vendor models

menuconfig BT_MESH_SILVAIR_ENOCEAN_SRV
	bool "Silvair EnOcean Proxy Server"
	select BT_MESH_VENDOR_MODELS
	select BT_MESH_ONOFF_CLI
	select BT_MESH_LVL_CLI
	select BT_ENOCEAN
	depends on BT_MESH_DTT_SRV
	help
	  Enable Mesh Silvair EnOcean Proxy Server model.

if BT_MESH_SILVAIR_ENOCEAN_SRV

config BT_MESH_SILVAIR_ENOCEAN_AUTO_COMMISSION
	bool "Automatically commission"
	help
	  Automatically commission/decommission EnOcean switches.

endif

endmenu
