/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	chosen {
		extmem-device = &mx25uw63;
	};
};

&mx25uw63 {
	status = "okay";
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		dfu_cache_partition_1: partition@0 {
			reg = <0x0 DT_SIZE_K(1024)>;
		};
	};
};

&cpuapp_rx_partitions {
	/delete-node/ partition@b7000;
	/delete-node/ cpuapp_recovery_partition;
	cpuapp_recovery_partition: partition@a5000 {
		reg = <0xa5000 DT_SIZE_K(84)>;
	};

	cpuapp_slot0_partition: partition@ba000 {
		reg = <0xba000 DT_SIZE_K(792)>;
	};
};

&cpuapp_rw_partitions {
	/delete-node/ partition@100000;
	dfu_partition: partition@180000 {
		reg = < 0x180000 DT_SIZE_K(396) >;
	};
};
