#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Application modules"

rsource "Kconfig.hid"
rsource "Kconfig.hid_state"
rsource "Kconfig.led_state"
rsource "Kconfig.led_stream"
rsource "Kconfig.usb_state"
rsource "Kconfig.ble"
rsource "Kconfig.hids"
rsource "Kconfig.hid_forward"
rsource "Kconfig.bas"
rsource "Kconfig.qos"
rsource "Kconfig.config_channel"
rsource "Kconfig.fn_keys"
rsource "Kconfig.watchdog"
rsource "Kconfig.hotfixes"
rsource "Kconfig.failsafe"
rsource "Kconfig.cpu_meas"
rsource "Kconfig.nrf_profiler_sync"

endmenu
