#
# Copyright (c) 2023-2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig DESKTOP_DFU_MCUMGR_ENABLE
	bool "Enable DFU using MCUmgr [EXPERIMENTAL]"
	select EXPERIMENTAL
	select CAF_BLE_SMP_TRANSFER_EVENTS if MCUMGR_TRANSPORT_BT
	select DESKTOP_DFU_MCUMGR_MCUBOOT_DEPS
	select MCUMGR
	select MCUMGR_GRP_OS
	select MCUMGR_GRP_OS_BOOTLOADER_INFO
	select MCUMGR_MGMT_NOTIFICATION_HOOKS
	select MCUMGR_SMP_COMMAND_STATUS_HOOKS
	select CRC
	select NET_BUF
	select FLASH
	select FLASH_MAP
	select ZCBOR
	depends on BOOTLOADER_MCUBOOT
	depends on !MCUBOOT_BOOTLOADER_MODE_RAM_LOAD
	help
	  This option enables an alternative method of performing DFU using the
	  MCUmgr module.

	  The MCUboot RAM load mode is not supported due to the current limitation
	  of this module implementation.

if DESKTOP_DFU_MCUMGR_ENABLE

config DESKTOP_DFU_MCUMGR_MCUBOOT_DEPS
	bool
	select MCUBOOT_BOOTUTIL_LIB
	select IMG_MANAGER
	select MCUMGR_GRP_IMG
	select MCUMGR_GRP_IMG_MUTEX if DESKTOP_DFU_LOCK
	select STREAM_FLASH
	help
	  This option is used to logically group the MCUboot bootloader dependencies in the MCUmgr DFU
	  module. The MCUboot bootloader is the only supported bootloader for this module.

module = DESKTOP_DFU_MCUMGR
module-str = DFU MCUmgr
source "subsys/logging/Kconfig.template.log_config"

endif
