#
# Copyright (c) 2020 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Settings loading service"

config DESKTOP_SETTINGS_LOADER_USE_THREAD
	bool "Enable loading of setting by separate thead"
	depends on SETTINGS
	help
	  The option enables loading of settings by separate
	  thread in background instead of use of system
	  work queue for that purpose.

config DESKTOP_SETTINGS_LOADER_THREAD_STACK_SIZE
	int "Settings module thread stack size"
	depends on DESKTOP_SETTINGS_LOADER_USE_THREAD
	range 0 4096
	default 1024
	help
	  Stack size for thread responsible for loading
	  settings from flash memory.

if !DESKTOP_SETTINGS_LOADER_USE_THREAD
config DESKTOP_SETTINGS_LOADER_THREAD_STACK_SIZE
	int
	default 0
endif

if SETTINGS

module = DESKTOP_SETTINGS_LOADER
module-str = Settings loader
source "subsys/logging/Kconfig.template.log_config"

endif

endmenu
