#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

if USB_DEVICE_HID

menu "USB state"

config DESKTOP_USB_ENABLE
	bool "Enable USB module"
	depends on USB_DEVICE_HID
	help
	  Enables USB module.

if DESKTOP_USB_ENABLE

module = DESKTOP_USB_STATE
module-str = USB state
source "subsys/logging/Kconfig.template.log_config"

endif

endmenu

endif
