#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

rsource "Kconfig.hid"
rsource "Kconfig.power_manager"
rsource "Kconfig.hid_state"
rsource "Kconfig.led_state"
rsource "Kconfig.led_stream"
rsource "Kconfig.usb_state"
rsource "Kconfig.shell"
rsource "Kconfig.ble"
rsource "Kconfig.hids"
rsource "Kconfig.bas"
rsource "Kconfig.config_channel"
rsource "Kconfig.fn_keys"
rsource "Kconfig.watchdog"
rsource "Kconfig.settings_load"
rsource "Kconfig.hotfixes"
