#
# Copyright (c) 2022 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

# nRF Desktop specific configuration overlay for CAF power manager module.

config DESKTOP_POWER_MANAGER
	bool "Power manager module (CAF)"
	select CAF_POWER_MANAGER
	imply CAF_POWER_MANAGER_STAY_ON if DESKTOP_ROLE_HID_DONGLE
	help
	  nRF Desktop uses power manager module from Common Application
	  Framework (CAF).

	  By default, the nRF Desktop dongle stays on and remains idle instead
	  of switching SoC to OFF mode after the power manager timeout.
