/*
 * Copyright (c) 2024 Nordic Semiconductor
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */
/delete-node/ &cpuppr_code_partition;

&cpuapp_rx_partitions {
	cpuapp_slot0_partition: partition@a6000 {
		reg = <0xa6000 DT_SIZE_K(488)>;
	};

	cpuppr_code_partition: partition@120000 {
		reg = <0x120000 DT_SIZE_K(64)>;
	};
};

/delete-node/ &storage_partition;

&cpuapp_rw_partitions {
	storage_partition: partition@130000 {
		reg = <0x130000 DT_SIZE_K(24)>;
	};
};

&mram1x {
	cpurad_rw_partitions: cpurad-rw-partitions {
		compatible = "nordic,owned-partitions", "fixed-partitions";
		perm-read;
		perm-write;
		perm-secure;
		#address-cells = <1>;
		#size-cells = <1>;

		cpurad_storage_partition: partition@136000 {
			reg = <0x136000 DT_SIZE_K(24)>;
		};
	};
};
