#
# Copyright (c) 2022 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

# Adds RTT to the trace backend choice.
choice NRF_MODEM_LIB_TRACE_BACKEND

config NRF_MODEM_LIB_TRACE_BACKEND_RTT
	bool "SEGGER RTT"
	depends on USE_SEGGER_RTT

endchoice # NRF_MODEM_LIB_TRACE_BACKEND

if NRF_MODEM_LIB_TRACE_BACKEND_RTT

config NRF_MODEM_LIB_TRACE_BACKEND_RTT_BUF_SIZE
	int "RTT buffer size"
	default 1024

endif # NRF_MODEM_LIB_TRACE_BACKEND_RTT
