#
# Copyright (c) 2021 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config CAF_POWER_MANAGER_EVENTS
	bool "Power manager event"
	help
	  Enable power manager event.

config CAF_INIT_LOG_POWER_MANAGER_EVENTS
	bool "Log power manager event"
	depends on LOG
	depends on CAF_POWER_MANAGER_EVENTS
	default y
	help
	  Log the power manager event.
