#
# Copyright (c) 2024 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config LTE_LC_CONN_EVAL_MODULE
	bool "Connection Parameters Evaluation module"

config LTE_LC_EDRX_MODULE
	bool "Extended Discountinuous Reception (eDRX) module"

config LTE_LC_NEIGHBOR_CELL_MEAS_MODULE
	bool "Neighboring Cell Measurements module"

config LTE_LC_PERIODIC_SEARCH_MODULE
	bool "Periodic Search Configuration module"

config LTE_LC_PSM_MODULE
	bool "Power Saving Mode (PSM) module"

config LTE_LC_RAI_MODULE
	bool "Release Assistance Indication (RAI) module"

config LTE_LC_MODEM_SLEEP_MODULE
	bool "Modem Sleep module"

config LTE_LC_TAU_PRE_WARNING_MODULE
	bool "Tracking Area Update (TAU) module"
