# Nordic Semiconductor nRF54 MCU line

# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

config SOC_NRF54LV10A_ENGA_CPUAPP
	select SOC_NRF54L_CPUAPP_COMMON

config SOC_NRF54LV10A_ENGA_CPUFLPR
	select RISCV_CORE_NORDIC_VPR

config SOC_NRF54LM20A_ENGA_CPUAPP
	select SOC_NRF54L_CPUAPP_COMMON

config SOC_NRF54LM20A_ENGA_CPUFLPR
	select RISCV_CORE_NORDIC_VPR

config SOC_NRF54LS05B_ENGA_CPUAPP
	select ARM
	select CPU_CORTEX_M33
	select CPU_CORTEX_M_HAS_DWT
	select CPU_HAS_ICACHE
	select CPU_HAS_ARM_MPU
	select HAS_HW_NRF_RADIO_IEEE802154
	select HAS_POWEROFF
	select HAS_NORDIC_RAM_CTRL
