{% if target['core'] == 'cpuapp' %}
CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y

CONFIG_NULL_POINTER_EXCEPTION_DETECTION_NONE=y

CONFIG_CACHE_MANAGEMENT=y
CONFIG_EXTERNAL_CACHE=y

CONFIG_SOC_NRF_FORCE_CONSTLAT=y
CONFIG_NRF_GRTC_START_SYSCOUNTER=y
{% else %}
{% if not target['xip'] %}
CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_XIP=n
{% else %}
CONFIG_XIP=y
{% endif %}
{% endif %}
