board:
  name: {{ board }}
  full_name: {{ board }}
  vendor: {{ vendor }}
  socs:
  - name: {{ soc }}
    variants:
    - name: xip
      cpucluster: cpuflpr

runners:
  run_once:
    '--recover':
      - runners:
          - nrfjprog
          - nrfutil
        run: first
        groups:
          - boards:
              - {{ board }}/{{ soc }}/cpuapp
              - {{ board }}/{{ soc }}/cpuflpr
              - {{ board }}/{{ soc }}/cpuflpr/xip
    '--erase':
      - runners:
          - nrfjprog
          - jlink
          - nrfutil
        run: first
        groups:
          - boards:
              - {{ board }}/{{ soc }}/cpuapp
              - {{ board }}/{{ soc }}/cpuflpr
              - {{ board }}/{{ soc }}/cpuflpr/xip
    '--reset':
      - runners:
          - nrfjprog
          - jlink
          - nrfutil
        run: last
        groups:
          - boards:
              - {{ board }}/{{ soc }}/cpuapp
              - {{ board }}/{{ soc }}/cpuflpr
              - {{ board }}/{{ soc }}/cpuflpr/xip
