identifier: {{ board }}/{{ soc }}/{{ target['core'] }}{{ '/xip' if target['xip'] }}
name: {{ board_desc }}
vendor: {{ vendor }}
arch: {{ target['arch'] }}
toolchain:
  - zephyr
sysbuild: true
ram: {{ target['ram'] }}
{% if soc == "nrf54l05" %}
flash: 200
{% elif soc == "nrf54l10" %}
flash: 456
{% elif soc == "nrf54l15" %}
flash: 664
{% endif %}
supported: []
