#
# Copyright (c) 2024 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig SUIT_ORCHESTRATOR_APP
	bool "Enable SUIT application orchestrator"
	depends on SUIT_PLATFORM_VARIANT_APP

if SUIT_ORCHESTRATOR_APP

config SUIT_ORCHESTRATOR_APP_CANDIDATE_PROCESSING
	bool "Enable processing of the candidate envelope by the SUIT application orchestrator"
	depends on SUIT_ENVELOPE_INFO

config SUIT_CLEANUP_ON_INIT
	bool "Performs cleanup on DFU and DFU cache partitions as part of initialization"
	depends on SUIT_ORCHESTRATOR_APP_CANDIDATE_PROCESSING
	default y

endif # SUIT_ORCHESTRATOR_APP
