#
# Copyright (c) 2019 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Self-Registration (Zi ZHu Ce)"

config ZZHC
	bool "Self-Registration Daemon"
	depends on TRUSTED_EXECUTION_NONSECURE
	depends on NRF_MODEM_LIB
	depends on SETTINGS
	select AT_CMD_PARSER
	select AT_MONITOR
	select BASE64
	select JSON_LIBRARY

if ZZHC

config ZZHC_STACK_SIZE
	int "Background thread Stack size"
	default 2048

config ZZHC_THREAD_PRIO
	int "Background thread priority level"
	range 0 NUM_PREEMPT_PRIORITIES
	default 0 if !MULTITHREADING
	default 10

module = ZZHC
module-str = ZZHC Daemon
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # ZZHC

endmenu
