#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

choice PSA_CORE
	prompt "PSA Core implementation"

config PSA_CORE_DISABLED
	bool
	prompt "PSA core-less for SSF crypto client support"
	depends on SSF_CLIENT && SSF_PSA_CRYPTO_SERVICE_ENABLED

config PSA_CORE_OBERON
	bool
	prompt "PSA Core implementation - Oberon"
	select PSA_WANT_AES_KEY_SIZE_128
	select PSA_WANT_AES_KEY_SIZE_192
	select PSA_WANT_AES_KEY_SIZE_256

endchoice
