menu "Local sourcing"

source "$(ZEPHYR_NRF_MODULE_DIR)/lib/nrf_modem_lib/Kconfig.modemlib"

# Adds NRF_MODEM_LIB_TRACE_BACKEND_NONE to the trace backend choice otherwise UART is chosen by default.
choice NRF_MODEM_LIB_TRACE_BACKEND

config NRF_MODEM_LIB_TRACE_BACKEND_NONE
	bool "No backend (unused)"

endchoice # NRF_MODEM_LIB_TRACE_BACKEND

endmenu

source "Kconfig.zephyr"

module = NRF_MODEM_LIB_TRACE_TEST
module-str = nrf_modem_lib_trace_test
source "subsys/logging/Kconfig.template.log_config"
