#
# Copyright (c) 2019 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config AT_CMD_PARSER
	bool "AT command parser library"
	depends on NEWLIB_LIBC || EXTERNAL_LIBC || PICOLIBC
