choice HPF_GPIO_BACKEND
	prompt "Backend"
	default HPF_GPIO_BACKEND_ICMSG

config HPF_GPIO_BACKEND_MBOX
	bool "mbox"

config HPF_GPIO_BACKEND_ICMSG
	bool "icmsg"
	select IPC_SERVICE

config HPF_GPIO_BACKEND_ICBMSG
	bool "icbmsg"
	select IPC_SERVICE

endchoice

config HPF_DEVELOPER_MODE
	bool "HPF developer mode"
	help
	  High Performance Framework developer mode.
	  If enabled, changes in HRT files will be included in build.
	  Otherwise, if there is a change in HRT that produces a different ASM file than
	  the provided one, build error is reported.

source "Kconfig.zephyr"
