# Nordic Semiconductor nRF71 MCU line

# Copyright (c) 2025 Nordic Semiconductor ASA
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

config SOC_SERIES_NRF71X
	select HAS_NRFX
	select HAS_NORDIC_DRIVERS
	select HAS_SEGGER_RTT if ZEPHYR_SEGGER_MODULE
	select SOC_EARLY_INIT_HOOK
	select SOC_RESET_HOOK
	select NRF_PLATFORM_LUMOS

config SOC_NRF7120_ENGA_CPUAPP
	select ARM
	select ARMV8_M_DSP
	select CPU_CORTEX_M33
	select CPU_HAS_ARM_MPU
	select CPU_HAS_ICACHE
	select CPU_HAS_ARM_SAU
	select CPU_HAS_FPU
	select HAS_HW_NRF_RADIO_IEEE802154
	select HAS_POWEROFF
	select HAS_SWO

config SOC_NRF7120_ENGA_CPUFLPR
	select RISCV_CORE_NORDIC_VPR

if SOC_SERIES_NRF71X

DT_MPC_REGION_SIZE := $(dt_nodelabel_path,nrf_mpc_region)

config NRF_TRUSTZONE_FLASH_REGION_SIZE
	hex
	default $(dt_node_int_prop_hex,$(DT_MPC_REGION_SIZE),override-granularity)
	help
	  This defines the flash region size from the TRUSTZONE perspective.
	  It is used when configuring the TRUSTZONE and when setting alignments
	  requirements for the partitions.
	  This abstraction allows us to configure TRUSTZONE without depending
	  on peripheral specific symbols.

config NRF_TRUSTZONE_RAM_REGION_SIZE
	hex
	default $(dt_node_int_prop_hex,$(DT_MPC_REGION_SIZE),override-granularity)
	help
	  This defines the RAM region size from the TRUSTZONE perspective.
	  It is used when configuring the TRUSTZONE and when setting alignments
	  requirements for the partitions.
	  This abstraction allows us to configure TRUSTZONE without depending
	  on peripheral specific symbols.

endif # SOC_SERIES_NRF71X
