# Kconfig - nRF52840 PCA20035 board configuration
#
# Copyright (c) 2019 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic

if BOARD_NRF52840_PCA20035

config BOARD
	default "nrf52840_pca20035"

if USB

config USB_NRFX
	def_bool y

config USB_DEVICE_STACK
	def_bool y

endif # USB

endif # BOARD_NRF52840_PCA20035
