.versiontag {
    border: 1px solid #e97c25;
    padding: 2px;
    font-size: smaller;
    color: #e97c25;
    margin: 0px 5px;
}

.filtertag {
    border: 1px solid red;
    padding: 2px;
    font-size: smaller;
    color: red;
    margin: 0px 5px;
}

.filtertag-container {
    overflow-wrap: break-word;
    word-break: break-all;
  }

.dropdown-select {
    display: inline-block;
    font-weight: 700;
    color: var(--docset-color);
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border: 2px solid #999;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('./images/dropdown.svg');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%;
    background-size: .65em auto;
    width: 160px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.dropdown-select::-ms-expand {
    display: none;
}

.dropdown-select option {
    font-weight: normal;
}
