menu "System profiler"

config PROFILER
	bool"Enable system profiler"
	default n

config MAX_NUMBER_OF_CUSTOM_EVENTS
	int "Maximum number of stored custom events"
	default 32

config PROFILER_CUSTOM_EVENT_BUF_LEN
	int "Length of data buffer for custom event data(in bytes)"
	default 64

config MAX_LENGTH_OF_CUSTOM_EVENTS_DESCRIPTIONS
	int "Maximum number of characters used to describe single event type"
	default 128

config PROFILER_SYSVIEW
	bool "Use SysView profiler"
	depends on PROFILER
	select RTT_CONSOLE
	select SEGGER_SYSTEMVIEW
	default y

menu "SysView advanced"
	depends on PROFILER_SYSVIEW
config SYSVIEW_INITIALIZATION
	bool "Initialize and config SystemView on start"
	default n

config SYSVIEW_START_LOGGING_ON_SYSTEM_START
	bool "Start logging on system start"
	depends on SYSVIEW_INITIALIZATION
	default n

endmenu #Advanced

endmenu
