board:
  name: {{ board }}
  full_name: {{ board }}
  vendor: {{ vendor }}
  socs:
    - name: {{ soc }}
runners:
  run_once:
    '--recover':
      - runners:
          - nrfjprog
          - nrfutil
        run: first
        groups:
          - boards:
              - {{ board }}/{{ soc }}/cpuapp
              - {{ board }}/{{ soc }}/cpuflpr
    '--erase':
      - runners:
          - nrfjprog
          - jlink
          - nrfutil
        run: first
        groups:
          - boards:
              - {{ board }}/{{ soc }}/cpuapp
              - {{ board }}/{{ soc }}/cpuflpr
    '--reset':
      - runners:
          - nrfjprog
          - jlink
          - nrfutil
        run: last
        groups:
          - boards:
              - {{ board }}/{{ soc }}/cpuapp
              - {{ board }}/{{ soc }}/cpuflpr
