identifier: {{ board }}/{{ soc }}/{{ target['core'] }}{{ '/xip' if target['xip'] }}
name: {{ board_desc }}
vendor: {{ vendor }}
arch: {{ target['arch'] }}
toolchain:
  - zephyr
sysbuild: true
ram: {{ target['ram'] }}
{% if target['core'] == "cpuapp" %}
flash: 920
{% else %}
flash: 96
{% endif %}
supported: []
