#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

if BT_RPC_HOST || BT_RPC_CLIENT

config CBKPROXY_OUT_SLOTS
	int "Maximum number of RPC callback proxy output slots"
	default 16
	range 0 16383
	help
	  Output slot is used to save context for one callback that is called
	  on local side, encoded, send and finally executed on the remote side.
	  Each output slot takes 8 bytes of flash memory. Maximum number of
	  input slots on the remote side should be the same as this value.


config CBKPROXY_IN_SLOTS
	int "Maximum number of RPC callback proxy input slots"
	default 16
	range 0 16383
	help
	  Input slot is used to save context for one callback that is called
	  on remote side, encoded, send and finally executed on the local side.
	  Each output slot takes 8 bytes of RAM memory. Maximum number of
	  output slots on the remote side should be the same as this value.


endif # BT_RPC_HOST || BT_RPC_CLIENT
