#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
DT_COMPAT_NORDIC_NRF700X_QSPI := nordic,nrf700x-qspi
DT_COMPAT_NORDIC_NRF700X_SPI := nordic,nrf700x-spi

config SHIELD_NRF7002EB
	def_bool $(shields_list_contains,nrf7002eb)

config NRF7002_ON_QSPI
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF700X_QSPI))
	depends on SHIELD_NRF7002EB

config NRF7002_ON_SPI
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF700X_SPI))
	depends on SHIELD_NRF7002EB

config BOARD_NRF7002
	bool
	default y if SHIELD_NRF7002EB
