#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

# When using LLVM with NCS we want to default to Compiler RT lib and LLD.
choice LLVM_LINKER
	default LLVM_USE_LLD
endchoice

choice RTLIB_IMPLEMENTATION
	default COMPILER_RT_RTLIB
endchoice

config OVERRIDE_FRAME_POINTER_DEFAULT
	default y

config OMIT_FRAME_POINTER
	default y if OVERRIDE_FRAME_POINTER_DEFAULT
