/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/* The direct use of SHIELD=nrf2220_fwd is no more necessary and deprecated.
 * Please use just -DSHIELD=nrf2220ek or -D<app_image>_SHIELD=nrf2220ek.
 * For multi-core devices appropriate overlay for the shield will be picked
 * by the build system automatically.
 */
