#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig NRF_RPC_UTILS
	bool "nRF RPC utility commands [EXPERIMENTAL]"
	select NRF_RPC_CBOR
	select EXPERIMENTAL
	help
	  Enables the "umbrella" library, which implements miscellaneous RPC
	  commands that are too distinct from other commands to be grouped into
	  more specific command libraries.

if NRF_RPC_UTILS

choice NRF_RPC_UTILS_ROLE_CHOICE
	prompt "nRF RPC utilities role selection"
	default NRF_RPC_UTILS_CLIENT

config NRF_RPC_UTILS_CLIENT
	bool "Client"

config NRF_RPC_UTILS_SERVER
	bool "Server"

endchoice

config NRF_RPC_UTILS_DEV_INFO
	bool "Device information"
	help
	  Enables nRF RPC commands for retrieving the remote device traits,
	  such as the firmware version.

config NRF_RPC_UTILS_REMOTE_SHELL
	bool "Remote shell"
	select SHELL if NRF_RPC_UTILS_SERVER
	select SHELL_BACKEND_DUMMY if NRF_RPC_UTILS_SERVER
	help
	  Enables nRF RPC command for executing a shell command on the remote
	  device and getting its output.

config NRF_RPC_UTILS_CRASH_GEN
	bool "Crash generator"
	help
	  Enables nRF RPC commands for generating a crash on the remote device.

config NRF_RPC_UTILS_HEALTH_MONITOR
	bool "RPC Health Monitor support"
	help
	  Enables Health Monitor support over RPC.

config NRF_RPC_UTILS_SYSTEM_HEALTH
	bool "System health"
	help
	  Enables nRF RPC commands for getting the system health information.

if NRF_RPC_UTILS_SYSTEM_HEALTH && NRF_RPC_UTILS_SERVER

config NRF_RPC_UTILS_WATCHDOG_PERIOD
	int "Watchdog period (s)"
	default 10
	depends on NRF_RPC_UTILS_SYSTEM_HEALTH && NRF_RPC_UTILS_SERVER
	help
	  Configures how frequently the nRF RPC utils server kicks watched
	  threads, and how quickly it concludes a thread is hung.

endif # NRF_RPC_UTILS_SYSTEM_HEALTH && NRF_RPC_UTILS_SERVER

config SHELL_BACKEND_DUMMY_BUF_SIZE
	default 1024 if NRF_RPC_UTILS_REMOTE_SHELL && NRF_RPC_UTILS_SERVER

endif # NRF_RPC_UTILS
