#
# Copyright (c) 2018 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Libraries"

rsource "bin/Kconfig"
rsource "nrf_modem_lib/Kconfig"
rsource "adp536x/Kconfig"
rsource "at_monitor/Kconfig"
rsource "st25r3911b/Kconfig"
rsource "flash_patch/Kconfig"
rsource "lte_link_control/Kconfig"
rsource "fprotect/Kconfig"
rsource "at_cmd_custom/Kconfig"
rsource "at_host/Kconfig"
rsource "dk_buttons_and_leds/Kconfig"
rsource "at_cmd_parser/Kconfig"
rsource "modem_battery/Kconfig"
rsource "modem_info/Kconfig"
rsource "pdn/Kconfig"
rsource "multithreading_lock/Kconfig"
rsource "fatal_error/Kconfig"
rsource "sms/Kconfig"
rsource "gcf_sms/Kconfig"
rsource "modem_key_mgmt/Kconfig"
rsource "supl/Kconfig"
rsource "date_time/Kconfig"
rsource "hw_id/Kconfig"
rsource "ram_pwrdn/Kconfig"
rsource "edge_impulse/Kconfig"
rsource "wave_gen/Kconfig"
rsource "hw_unique_key/Kconfig"
rsource "modem_jwt/Kconfig"
rsource "modem_slm/Kconfig"
rsource "modem_attest_token/Kconfig"
rsource "location/Kconfig"
rsource "at_shell/Kconfig"
rsource "modem_antenna/Kconfig"
rsource "qos/Kconfig"
rsource "identity_key/Kconfig"
rsource "sfloat/Kconfig"
rsource "contin_array/Kconfig"
rsource "pcm_mix/Kconfig"
rsource "tone/Kconfig"
rsource "pcm_stream_channel_modifier/Kconfig"
rsource "data_fifo/Kconfig"
rsource "fem_al/Kconfig"
rsource "sample_rate_converter/Kconfig"
rsource "boot_banner/Kconfig"

endmenu
