/*
 * Default Flash planning
 *
 * Zephyr build with ARM TrustZone-M support, implies building secure and non-secure Zephyr images.
 *
 * Secure image will be placed, by default, in flash0 (or in slot0_s_partition, if MCUboot is
 * present). Secure image will use sram0_s for system memory.
 *
 * Non-Secure image will be placed in slot0_ns_partition, and use sram0_ns for system memory.
 *
 * Note that the secure image only requires knowledge of the beginning of the non-secure image (not
 * its size).
 */
&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x0 DT_SIZE_K(64)>;
		};

		slot0_partition: partition@10000 {
			compatible = "fixed-subpartitions";
			label = "image-0";
			reg = <0x10000 DT_SIZE_K(468)>;
			ranges = <0x0 0x10000 DT_SIZE_K(468)>;
			#address-cells = <1>;
			#size-cells = <1>;

			slot0_s_partition: partition@0 {
				label = "image-0-secure";
				reg = <0x0 DT_SIZE_K(256)>;
			};

			slot0_ns_partition: partition@40000 {
				label = "image-0-nonsecure";
				reg = <0x40000 DT_SIZE_K(212)>;
			};
		};

		slot1_partition: partition@85000 {
			compatible = "fixed-subpartitions";
			label = "image-1";
			reg = <0x85000 DT_SIZE_K(256)>;
			ranges = <0x0 0x85000 DT_SIZE_K(256)>;
			#address-cells = <1>;
			#size-cells = <1>;

			slot1_s_partition: partition@0 {
				compatible = "fixed-subpartitions";
				label = "image-1-secure";
				reg = <0x0 DT_SIZE_K(256)>;
			};

			slot1_ns_partition: partition@40000 {
				label = "image-1-nonsecure";
				reg = <0x40000 DT_SIZE_K(212)>;
			};
		};

		storage_partition: partition@fa000 {
			label = "storage";
			reg = <0xfa000 DT_SIZE_K(24)>;
		};
	};
};

&sram0 {
	/*
	 * Default SRAM planning when building for nRF91xx with
	 * ARM TrustZone-M support
	 * - Lowest 88 kB SRAM allocated to Secure image (sram0_s).
	 * - Upper 168 kB SRAM allocated to Non-Secure image (sram0_ns).
	 * Of the memory allocated to the Non-Secure image
	 * - 40 kB SRAM reserved for and used by the modem library (sram0_ns_modem).
	 * - 128 kB allocated to the application (sram0_ns_app).
	 */
	sram0_s: sram@0 {
		/* Secure image memory */
		reg = <0x20000000 DT_SIZE_K(88)>;
	};

	sram0_ns: sram@16000 {
		/* Non-Secure image memory */
		reg = <0x16000 DT_SIZE_K(168)>;
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0x0 0x16000 DT_SIZE_K(168)>;

		sram0_ns_modem: sram0_ns@0 {
			/* Modem (shared) memory */
			reg = <0x0 DT_SIZE_K(40)>;
		};

		sram0_ns_app: sram0_ns@a000 {
			/* Non-Secure application memory */
			reg = <0xa000 DT_SIZE_K(128)>;
		};
	};
};
