#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

## ACL related configs ##
config BT_OBSERVER
	default y

config BT_PERIPHERAL
	default y

config BT_BUF_ACL_TX_COUNT
	default 18

config BT_CAP_ACCEPTOR
	default y if BT_AUDIO_SCAN_DELEGATOR
	select BT_CSIP_SET_MEMBER
	select BT_CAP_ACCEPTOR_SET_MEMBER
	select BT_GAP_PERIPHERAL_PREF_PARAMS
	select BT_VCP_VOL_REND

config BT_PERIPHERAL_PREF_MIN_INT
	default 64

config BT_PERIPHERAL_PREF_MAX_INT
	default 69

config BT_PERIPHERAL_PREF_LATENCY
	default 0

config BT_PERIPHERAL_PREF_TIMEOUT
	default 200

# Generic Audio Sink - 0x0840
config BT_DEVICE_APPEARANCE
	default 2112

config BT_PER_ADV_SYNC_MAX
	default 2

config BT_SMP
	default y


## ISO related configs ##
config BT_ISO_SYNC_RECEIVER
	default y

config BT_BAP_BROADCAST_SINK
	default y

config BT_BAP_SCAN_DELEGATOR
	default y

config BT_BAP_BROADCAST_SNK_STREAM_COUNT
	default 2

config BT_BAP_BROADCAST_SNK_COUNT
	default 2

config BT_ISO_MAX_CHAN
	default 2

config BT_ISO_MAX_BIG
	default 2

config BT_AUDIO_RX
	default y

config BT_PER_ADV_SYNC_TRANSFER_RECEIVER
	default y if BT_AUDIO_SCAN_DELEGATOR
	select SETTINGS
	select BT_SETTINGS
	select FLASH
	select FLASH_MAP
	select NVS

config NVS_LOG_LEVEL
	default 2

config BT_DEVICE_NAME
	default "NRF5340_BIS_HEADSET"

## PACS related configs ##
config BT_PAC_SNK_NOTIFIABLE
	default y

config BT_PAC_SNK
	default y

config BT_PAC_SRC_NOTIFIABLE
	default y

config BT_PAC_SRC
	default y

## Audio related configs ##
config AUDIO_MUTE
	default n

config AUDIO_TEST_TONE
	default n


## LC3 related configs ##
config LC3_DEC_CHAN_MAX
	default 1
