#
# Copyright (c) 2019 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

config FPROTECT
	bool "Write-protect flash regions"
	depends on SOC_FAMILY_NRF
	help
	  Use hardware peripherals (BPROT, ACL, or SPU) to write-protect
	  regions of flash until next reset.

if FPROTECT
config FPROTECT_BLOCK_SIZE
	int "Block size of fprotect"
	default 32768 if SOC_NRF9160
	default 16384 if SOC_NRF5340_CPUAPP
	default $(dt_int_val,DT_SOC_NV_FLASH_1000000_ERASE_BLOCK_SIZE) if SOC_NRF5340_CPUNET
	default $(dt_int_val,DT_SOC_NV_FLASH_0_ERASE_BLOCK_SIZE)
endif

