#
# Copyright (c) 2018-2020 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menu "Device Drivers"

rsource "entropy/Kconfig"
rsource "hw_cc310/Kconfig"
rsource "net/Kconfig"
rsource "sensor/Kconfig"
rsource "gps/Kconfig"

if BT_LL_NRFXLIB
rsource "bt_ll_nrfxlib/Kconfig"
endif

if MPSL
rsource "mpsl/Kconfig"
endif

endmenu
