#
# Copyright (c) 2026 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config WIFI_KEYS_DRIVER
	bool "Wi-Fi Keys driver"
    default y
	imply NRF_WIFI_KMU
	help
	  Driver for Wi-Fi security key management.
	  This driver handles cryptographic keys for Wi-Fi security
	  using KMU (Key Management Unit) slots on nRF71 series devices.
