#
# Copyright (c) 2022 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config APP_DATA_EVENT
	bool "Test Data event"

config APP_SIMPLE_EVENT
	bool "Test simple event"

config APP_TEST_EVENT
	bool "Test management event"
