#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

if BOARD_NRF52840_PCA20041

config BOARD
	default "nrf52840_pca20041"

if USB

config USB_NRFX
	def_bool y

config USB_DEVICE_STACK
	def_bool y

endif # USB

if IEEE802154

config IEEE802154_NRF5
	def_bool n

endif # IEEE802154

endif # BOARD_NRF52840_PCA20041
