/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/*
 * This file contains all peripherals needed by the Application core for Matter purposes
 */

/ {
	chosen {
		/* prepare IPC to HCI Radio core */
		zephyr,bt-hci-ipc = &ipc0;
		extmem-device = &mx25uw63;
	};

	aliases {
		watchdog0 = &cpuapp_wdt010;
	};
};

/* Watchdog */
&cpuapp_wdt010 {
	status = "okay";
};

/* Communication between Application Core and Secure Domain */
&cpusec_cpuapp_ipc {
	status = "okay";
};
&cpusec_bellboard {
	status = "okay";
};
