# Copyright (c) 2026 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config NRF_802154_CALLBACKS_DISPATCHER
	bool "nRF 802.15.4 callbacks dispatcher [EXPERIMENTAL]"
	select EXPERIMENTAL
	help
	  This option enables the nRF 802.15.4 callbacks dispatcher.
	  It is used to dispatch callbacks from the nRF 802.15.4 radio driver
	  to the appropriate client. This feature is useful if your Application
	  needs to use more than one nRF 802.15.4 radio driver client and each
	  client has different callbacks implementations.

config NRF_802154_CALLBACKS_DISPATCHER_INIT_PRIORITY
	int "nRF 802.15.4 callbacks dispatcher init priority"
	default 80
	help
	  This option sets the init priority for the nRF 802.15.4 callbacks dispatcher.
