# Copyright (c) 2026 Nordic Semiconductor ASA
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

if SOC_NRF9251_CPUAPP

config NUM_IRQS
	default 471

config NRF_REGTOOL_GENERATE_UICR
	default n

config NRF_PERIPHCONF_SECTION
	default y
	depends on $(dt_nodelabel_exists,periphconf_partition)

endif # SOC_NRF9251_CPUAPP
