# Copyright (c) 2026 Nordic Semiconductor ASA
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

if SOC_NRF9251_CPUFLPR

config NUM_IRQS
	default 496

# As FLPR has limited memory most of tests does not fit with asserts enabled.
config ASSERT
	default n

endif # SOC_NRF9251_CPUFLPR
