#
# Copyright (c) 2019 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config MBEDTLS
	bool
	default n

config MBEDTLS_TLS_VERSION_1_2
	default n

config MBEDTLS_PSA_CRYPTO_STORAGE_C
	default n
