#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

#### Radio core
config NRF_DEFAULT_IPC_RADIO
	default y if !WIFI_NRF700X

config NRF_DEFAULT_BLUETOOTH
	default y if WIFI_NRF700X

config NETCORE_IPC_RADIO_BT_HCI_IPC
	default y

config NETCORE_IPC_RADIO_IEEE802154
	default y if !WIFI_NRF700X

choice BOOTLOADER
	default BOOTLOADER_MCUBOOT
endchoice

#### Bootloader
choice MCUBOOT_MODE
	default MCUBOOT_MODE_OVERWRITE_ONLY
endchoice

choice BOOT_SIGNATURE_TYPE
	default BOOT_SIGNATURE_TYPE_RSA
endchoice

config SECURE_BOOT_NETCORE
	default y

config NETCORE_APP_UPDATE
	default y

#### DFU multi-image support
config DFU_MULTI_IMAGE_PACKAGE_BUILD
	default y

config DFU_MULTI_IMAGE_PACKAGE_APP
	default y

config DFU_MULTI_IMAGE_PACKAGE_NET
	default y

config PM_EXTERNAL_FLASH_MCUBOOT_SECONDARY
	default y

source "${ZEPHYR_BASE}/share/sysbuild/Kconfig"
