#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menuconfig NRF_COAP_LIB
	bool "Nordic CoAP library support"
	help
	  "Enable CoAP library"

if NRF_COAP_LIB

config NRF_COAP_LOG_LEVEL
	int "Log level for CoAP"
	default 0
	range 0 4
	help
	  "Enables CoAP debug messages."

config NRF_COAP_ACK_RANDOM_FACTOR
	int "Random factor to calculate the initial time-out value for a confirmable message."
	default 1
	range 0 65535
	help
	  "COAP_MAX_TRANSMISSION_SPAN / COAP_MAX_RETRANSMIT_COUNT / COAP_ACK_TIMEOUT"

config NRF_COAP_ACK_TIMEOUT
	int "Minimum spacing before another retransmission."
	default 2
	range 0 65535
	help
	  "Max value should not exceed COAP_MAX_TRANSMISSION_SPAN / COAP_MAX_RETRANSMIT_COUNT."

config NRF_COAP_ENABLE_OBSERVE_CLIENT
	bool "Enable CoAP observe client role."
	help
	  "If enabled, the coap_observe module has to be included. It will enable
	   the module with a table to store observable resources, and provide access
	   to functions to register and unregister observable resources. The
	   observable resources list is used to match incoming notifications to
	   an application callback function."

config NRF_COAP_OBSERVE_MAX_NUM_OBSERVABLES
	int "Maximum number of CoAP observable resources that a client can have active."
	depends on NRF_COAP_ENABLE_OBSERVE_CLIENT
	default 0
	range 0 255
	help
	  "Maximum number of observable resources to be registered by a client.
	   For each observable resource added, it will increase the memory
	   consumption of one coap_observable_t struct."

config NRF_COAP_ENABLE_OBSERVE_SERVER
	bool "Enable CoAP observe server role."
	help
	  "If enabled the coap_observe module has to be included. It will enable the
	   module with a table to store observers, and provide access to functions
	   to register and unregister observers. The list can be traversed order
	   to send notifications to the observers."

config NRF_COAP_OBSERVE_MAX_NUM_OBSERVERS
	int "Maximum number of CoAP observers that a server can have active."
	depends on NRF_COAP_ENABLE_OBSERVE_SERVER
	default 0
	range 0 255
	help
	  "Maximum number of observers to be registered by a server. For each
	   observer added, it will increase the memory consumption of one
	   coap_observer_t struct."

config NRF_COAP_MAX_NUMBER_OF_OPTIONS
	int "Maximum size of a CoAP message excluding the mandatory CoAP header."
	default 8
	range 1 65535

config NRF_COAP_MAX_RETRANSMIT_COUNT
	int "Maximum number of transmit attempts for a confirmable messages."
	default 1
	range 0 255

config NRF_COAP_MAX_TRANSMISSION_SPAN
	int "Maximum transmission span."
	default 10
	range 0 65535
	help
	  "Maximum time from the first transmission of a confirmable message to its
	   last retransmission."

config NRF_COAP_MESSAGE_DATA_MAX_SIZE
	int "Maximum size of a CoAP message excluding the mandatory CoAP header."
	default 256
	range 1 65535

config NRF_COAP_MESSAGE_QUEUE_SIZE
	int "Maximum number of CoAP messages that can be in transmission at a time."
	default 4
	range 1 65535
	help
	  "CoAP uses the memory allocator function registered with it on coap_init.
	   Ensure the allocator function registered can allocate this size."

config NRF_COAP_PORT_COUNT
	int "Number of local ports used by CoAP."
	default 1
	range 0 255
	help
	  "Max number of client/server ports used by the application. One socket
	   will be created for each port."

config NRF_COAP_SESSION_COUNT
	int "Number of sessions used by CoAP."
	default 0
	range 0 255
	help
	  "Max number of secure sessions used by the application. One socket
	   will be created for each session."

config NRF_COAP_RESOURCE_MAX_DEPTH
	int "Maximum number of CoAP resource levels."
	default 5
	range 1 255
	help
	  "Maximum number of resource depth levels CoAP will use. The number will
	   be used when adding resource to the resource structure, or when
	   traversing the resources for a matching resource name given in a request.
	   Each level added will increase the stack usage runtime with 4 bytes."

config NRF_COAP_RESOURCE_MAX_NAME_LEN
	int "Maximum length of CoAP resource verbose name."
	default 19
	range 1 65535
	help
	  "Maximum length of resource name that can be supplied from the
	   application."

config NRF_COAP_VERSION
	int "CoAP version number."
	default 1
	range 0 3
	help
	  "The version of CoAP which all CoAP messages will be populated with."

endif # NRF_COAP_LIB
