#
#  Copyright (c) 2019 Nordic Semiconductor ASA
#
#  SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig BH1749
	bool "BH1749 Sensor"
	depends on I2C
	help
	  Enable driver for BH1749 sensors.

if BH1749

config BH1749_TRIGGER
	bool "Trigger for BH1749"
	depends on GPIO

config BH1749_READY_WAIT_TIME_MSEC
	int "Time to wait for sensor to be ready"
	default 10
	help
	  BH1749 requires certain configurations to happen with a delay, so that it may take some
	  time before the sensor is ready to be used.
	  This option configurues a wait time in milliseconds that the driver will wait for the sensor
	  to be ready in cases where it is still initializing.

endif # BH1749
