#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

rsource "Kconfig.defaults"

menu "Scanning"

choice NRF5340_AUDIO_GATEWAY_SCAN_MODE
	prompt "Select Scan Mode to find Unicast Headset"
	default SCAN_MODE_PASSIVE

config SCAN_MODE_PASSIVE
	bool "Passive Scan"

config SCAN_MODE_ACTIVE
	bool "Active Scan"

endchoice

choice BT_MGMT_CONNECT_BY
	prompt "Scan Filter"
	default BT_MGMT_CONNECT_BY_NAME

config BT_MGMT_CONNECT_BY_NAME
	bool "Name"
	help
	  If enabled, the scanner will look for a specific name instead of just connecting
	  to the first device it finds. The name to look for is CONFIG_BT_DEVICE_NAME.
	  This is useful for testing with a known device.
	  Note: This is only used if no CSIP Set Identity Resolving Key (SIRK) is available
	  in the bond information.

config BT_MGMT_CONNECT_BY_ADDR
	bool "Address"
	help
	  If enabled, the scanner will look for a specific address instead of a name.
	  The address to look for is set in bt_mgmt_scan_for_conn.c in the addr_check()
	  function. This is useful for testing with a known device.
	  Note: This is only used if no CSIP Set Identity Resolving Key (SIRK) is available
	  in the bond information.

endchoice

config CONNECT_TO_BT_ADDR_LE_STR
	string "Bluetooth LE Address to connect to"
	default "00:00:00:00:00:00"
	help
	  The Bluetooth LE address to connect to. This is useful for testing with a
	  specific device.

#----------------------------------------------------------------------------#
menu "Connection"

config BLE_ACL_CONN_INTERVAL
	int "Bluetooth LE ACL Connection Interval (x*1.25ms)"
	default 8
	help
	  This interval should be a multiple of the ISO interval used. The recommendation is to
	  increase the interval to something like BLE_ACL_CONN_INTERVAL_SLOW after the discovery
	  process is done, to free up time on air.

config BLE_ACL_CONN_INTERVAL_SLOW
	int "Bluetooth LE ACL Connection Interval (x*1.25ms)"
	default 72
	help
	  This interval should be a multiple of the ISO interval used. 72*1.25=90 which will
	  suit both 7.5ms and 10ms.

config BLE_ACL_SLAVE_LATENCY
	int "Bluetooth LE Slave Latency"
	default 0

config BLE_ACL_SUP_TIMEOUT
	int "Bluetooth LE Supervision Timeout (x*10ms)"
	default 100

endmenu # Connection

#----------------------------------------------------------------------------#
menu "Log level"

module = BT_MGMT_SCAN
module-str = bt-mgmt-scan
source "subsys/logging/Kconfig.template.log_config"

endmenu # Log level
endmenu # Scanning
