#
# Copyright (c) 2021 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig ML_APP_USB_STATE
	bool "USB module"
	depends on USB_DEVICE_STACK
	depends on CAF_POWER_MANAGER
	select CAF_FORCE_POWER_DOWN_EVENTS
	help
	  Enable USB subsystem on application start.

if ML_APP_USB_STATE

config USB_DEVICE_INITIALIZE_AT_BOOT
	default n
	help
	  Leave USB device initialization to the USB module.

endif # ML_APP_USB_STATE

module = ML_APP_USB_STATE
module-str = usb state module
source "subsys/logging/Kconfig.template.log_config"
