{%- if application is defined %}
  {%- set main_config = application %}
{%- else %}
  {%- set main_config = radio %}
{%- endif %}
{%- set mpi_radio_vendor_name = main_config['config']['CONFIG_SUIT_MPI_RAD_LOCAL_1_VENDOR_NAME']|default('nordicsemi.com') %}
{%- set mpi_radio_class_name = main_config['config']['CONFIG_SUIT_MPI_RAD_LOCAL_1_CLASS_NAME']|default('nRF54H20_sample_rad') %}
{%- set sequence_number = sysbuild['config']['SB_CONFIG_SUIT_ENVELOPE_SEQUENCE_NUM'] %}
SUIT_Envelope_Tagged:
  suit-authentication-wrapper:
    SuitDigest:
      suit-digest-algorithm-id: cose-alg-sha-256
  suit-manifest:
    suit-manifest-version: 1
    suit-manifest-sequence-number: {{ sequence_number }}
    suit-common:
      suit-components:
      - - MEM
        - {{ radio['dt'].label2node['cpu'].unit_addr }}
        - {{ get_absolute_address(radio['dt'].chosen_nodes['zephyr,code-partition']) }}
        - {{ radio['dt'].chosen_nodes['zephyr,code-partition'].regs[0].size }}
      - - CAND_IMG
        - 0
      - - CACHE_POOL
        - 1
      suit-shared-sequence:
      - suit-directive-set-component-index: 0
      - suit-directive-override-parameters:
          suit-parameter-vendor-identifier:
            RFC4122_UUID: {{ mpi_radio_vendor_name }}
          suit-parameter-class-identifier:
            RFC4122_UUID:
                namespace: {{ mpi_radio_vendor_name }}
                name: {{ mpi_radio_class_name }}
          suit-parameter-image-digest:
            suit-digest-algorithm-id: cose-alg-sha-256
            suit-digest-bytes:
              file: {{ radio['binary'] }}
          suit-parameter-image-size:
            file: {{ radio['binary'] }}
      - suit-condition-vendor-identifier:
        - suit-send-record-success
        - suit-send-record-failure
        - suit-send-sysinfo-success
        - suit-send-sysinfo-failure
      - suit-condition-class-identifier:
        - suit-send-record-success
        - suit-send-record-failure
        - suit-send-sysinfo-success
        - suit-send-sysinfo-failure
      - suit-directive-set-component-index: 1
      - suit-directive-override-parameters:
          suit-parameter-image-digest:
            suit-digest-algorithm-id: cose-alg-sha-256
            suit-digest-bytes:
              file: {{ radio['binary'] }}
    suit-validate:
    - suit-directive-set-component-index: 0
    - suit-condition-image-match:
      - suit-send-record-success
      - suit-send-record-failure
      - suit-send-sysinfo-success
      - suit-send-sysinfo-failure
    suit-invoke:
    - suit-directive-set-component-index: 0
    - suit-directive-invoke:
      - suit-send-record-failure
    suit-payload-fetch:
    - suit-directive-set-component-index: 2
    - suit-directive-override-parameters:
        suit-parameter-uri: 'file://{{ radio['filename'] }}'
    - suit-directive-fetch:
      - suit-send-record-failure
    suit-install:
    - suit-directive-set-component-index: 1
    - suit-directive-override-parameters:
        suit-parameter-uri: 'file://{{ radio['filename'] }}'
    - suit-directive-fetch:
      - suit-send-record-failure
    - suit-condition-image-match:
      - suit-send-record-success
      - suit-send-record-failure
      - suit-send-sysinfo-success
      - suit-send-sysinfo-failure
    - suit-directive-set-component-index: 0
    - suit-directive-override-parameters:
        suit-parameter-source-component: 1
    - suit-directive-copy:
      - suit-send-record-failure
    - suit-condition-image-match:
      - suit-send-record-success
      - suit-send-record-failure
      - suit-send-sysinfo-success
      - suit-send-sysinfo-failure
    suit-text:
      suit-digest-algorithm-id: cose-alg-sha-256
    suit-manifest-component-id:
    - INSTLD_MFST
    - RFC4122_UUID:
        namespace: {{ mpi_radio_vendor_name }}
        name: {{ mpi_radio_class_name }}
  suit-text:
    en:
      '["MEM", {{ radio['dt'].label2node['cpu'].unit_addr }}, {{ get_absolute_address(radio['dt'].chosen_nodes['zephyr,code-partition']) }}, {{ radio['dt'].chosen_nodes['zephyr,code-partition'].regs[0].size }}]':
        suit-text-vendor-name: Nordic Semiconductor ASA
        suit-text-model-name: nRF54H20_cpurad
        suit-text-vendor-domain: nordicsemi.com
        suit-text-model-info: The nRF54H20 radio core
        suit-text-component-description: Sample radio core FW
        suit-text-component-version: v1.0.0
  suit-integrated-payloads: {}
