config REDUCED_TEST_SUITE
	bool "Reduced test suite"
	default n
	help
		If False, all test vectors in all test_vector_* files are used as a test basis.
		If True, only the test vectors in test_vectors.c are used.

config CRYPTO_TEST_LONG_RUNNING_VECTORS
	bool "Test slow vectors"
	default y
	help
	  Some test vectors are much slower than others.
	  If True these will be tested.
	  Do a search of CRYPTO_TEST_LONG_RUNNING_VECTORS amongst the
	  test_vectors_* files to see which vectors are affected.

config CRYPTO_TEST_LARGE_VECTORS
	bool "Test large vectors"
	default y
	help
	  Some test vectors are very large.
	  This might be inappropriate for devices with
	  limited resources.
	  If True large test vectors will be compiled and executed.
	  Also, some test suites have a very large amount of similar but small
	  test vectors, this amount will be somewhat reduced when False.

config CRYPTO_TEST_HASH
	bool "Test hash (SHA, hmac, hkdf)"
	default y
	help
	  Hash support is always enabled.
	  In order to save space on smaller devices,
	  allow skipping these tests by setting this to False,
	  which means the tests are neither executed nor compiled in.


source "Kconfig.zephyr"
