# Arm CC310 hw driver for nRF52840 and nRF9160
#
# Copyright (c) 2019 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

# Defining MCUBOOT symbol here to avoid an issue discovered when building
# multi image zephyr/mcuboot.
config MCUBOOT
	bool

config HW_CC310_FORCE_ALT
	bool
	depends on SOC_COMPATIBLE_NRF
	help
	  This option can be enabled to force an alternative implementation of
	  the Arm CC310 hardware driver.

if !HW_CC310_FORCE_ALT

menuconfig HW_CC310
	bool "Arm CC310 hw driver for Nordic devices"
	depends on SOC_NRF52840 || (SOC_NRF9160 && !SPM) || (SOC_NRF9160 && TRUSTED_EXECUTION_SECURE)
	select NRF_CC310_PLATFORM
	default n if MCUBOOT
	default y if SOC_NRF52840 || (SOC_NRF9160 && !SPM) || (SOC_NRF9160 && TRUSTED_EXECUTION_SECURE)
	help
	  This option enables the Arm CC310 hw devices in nRF52840 and nRF9160 devices.

if HW_CC310

config HW_CC310_NAME
	string "Entropy Device Name"
	default "HW_CC310_0"
	help
	  Specify the device name to be used for the HW_CC310 driver.


endif # HW_CC310

endif # !HW_CC310_FORCE_ALT
