#
# Copyright (c) 2022 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

comment "Bluetooth LE advertising providers"

rsource "Kconfig.fast_pair"
rsource "Kconfig.flags"
rsource "Kconfig.gap_appearance"
rsource "Kconfig.device_name"
rsource "Kconfig.swift_pair"
rsource "Kconfig.tx_power"
