#
# Copyright (c) 2022 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig BT_ADV_PROV_FAST_PAIR
	bool "Google Fast Pair"
	depends on BT_FAST_PAIR
	help
	  Adds Google Fast Pair payload to advertising data.

	  If device is in pairing mode, provider uses Fast Pair discoverable
	  advertising. Otherwise, Fast Pair not discoverable advertising is used.
	  By default, battery data is not included in advertising payload.

	  Application can control the generated payload using provider's Kconfig
	  options or dedicated API.

if BT_ADV_PROV_FAST_PAIR

config BT_ADV_PROV_FAST_PAIR_ADV_BUF_SIZE
	int "Size of buffer used for advertising data"
	range 11 26
	default 26
	help
	  Size of the buffer must be big enough to fit Fast Pair advertising packet.

	  (10 + 1.2 * maximum number of Account Keys encoded in the advertising packet) - truncated
	  bytes are needed. Additional 4 bytes are needed when battery data is included in Fast Pair
	  advertising.

	  11 bytes are needed when battery data is not included in Fast Pair advertising
	  and only 1 Account Key has been written.

	  20 bytes are needed when battery data is included in Fast Pair advertising
	  and 5 Account Keys have been written.

	  26 bytes are needed when battery data is included in Fast Pair advertising
	  and 10 Account Keys have been written.

config BT_ADV_PROV_FAST_PAIR_SHOW_UI_PAIRING
	bool "Show UI indication in Fast Pair not discoverable advertising"
	default y
	help
	  The UI indication should be displayed if device is ready for pairing.
	  The provider also exposes API to show/hide UI indication in runtime.

choice BT_ADV_PROV_FAST_PAIR_BATTERY_DATA_MODE
	prompt "Select advertising battery data mode"
	default BT_ADV_PROV_FAST_PAIR_BATTERY_DATA_NONE
	help
	  The provider also exposes API to change battery data advertising mode in runtime.

config BT_ADV_PROV_FAST_PAIR_BATTERY_DATA_SHOW_UI
	bool "Include battery data in Fast Pair not discoverable advertising and show UI indication"
	help
	  When this option is enabled, battery data is included in Fast Pair not discoverable
	  advertising and the show battery data UI indication mode is enabled.

config BT_ADV_PROV_FAST_PAIR_BATTERY_DATA_HIDE_UI
	bool "Include battery data in Fast Pair not discoverable advertising and hide UI indication"
	help
	  When this option is enabled, battery data is included in Fast Pair not discoverable
	  advertising and the hide battery data UI indication mode is enabled.

config BT_ADV_PROV_FAST_PAIR_BATTERY_DATA_NONE
	bool "Do not include battery data in Fast Pair advertising"

endchoice

config BT_ADV_PROV_FAST_PAIR_AUTO_SET_PAIRING_MODE
	bool "Automatically set Fast Pair pairing mode"
	default y
	help
	  The advertising data provider automatically sets Fast Pair pairing
	  mode (using bt_fast_pair_set_pairing_mode API) while providing
	  advertising data. This is done to ensure consistency between Fast
	  Pair pairing mode and advertised data if generated advertising data
	  is instantly used in advertising packets.

config BT_ADV_PROV_FAST_PAIR_STOP_DISCOVERABLE_ON_RPA_ROTATION
	bool "Drop payload on RPA rotation while discoverable advertising"
	default y
	help
	  The Fast Pair specification requires no Resolvable Private Address
	  rotation during Fast Pair discoverable advertising session. The
	  provider desists from providing data after RPA was rotated during
	  ongoing Fast Pair discoverable advertising session.

endif # BT_ADV_PROV_FAST_PAIR
