# udev rules which allow using configuration channel for nRF52 Desktop without
# root permissions on Linux. Adapted from HIDAPI project.

# To apply the rule, drop this file into `/etc/udev/rules.d` and unplug
# and replug your device. These are the only steps necessary to see the new
# permissions. You do not need to restart udev.

# Rules change the permissions to 0666 (world readable/writable) for specified
# device on Linux systems.

# Note that for kernels before 2.6.24, you must
# substitute "usb" with "usb_device". It is recommended to use two lines
# (one each way) for compatibility with older systems.

# HIDAPI/libusb
SUBSYSTEM=="usb", ATTRS{idVendor}=="1915", ATTRS{idProduct}=="52de", MODE="0666", SYMLINK+="desktop-mouse-usb"

# HIDAPI/hidraw
KERNEL=="hidraw*", ATTRS{idVendor}=="1915", ATTRS{idProduct}=="52de", MODE="0666", SYMLINK+="desktop-mouse-hidraw"

# Note that the hexadecimal values for VID and PID are case sensitive and
# must be lower case.
