# Copyright (c) 2019 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig AWS_FOTA
	bool "AWS Jobs FOTA library"
	select AWS_JOBS
	depends on FOTA_DOWNLOAD
	depends on CJSON_LIB
	depends on !BOARD_QEMU_X86
	default y if AWS_IOT

if AWS_FOTA

config AWS_FOTA_MODEM_FW_UPDATE_AUTO_VALIDATE
	bool "Auto validate modem firwmare update"
	depends on NRF_MODEM_LIB_SYS_INIT
	default y
	help
	  Auto validate the initialization of the modem firmware before
	  the application (main thread) gets to run.
	  During modem FOTA the modem needs to be reinitialized / rebooted twice.
	  Once to apply the update and once to run the new image. During this process
	  any socket / AT commands to the modem will fail. Enabling this option ensures that the
	  the modem is in a healthy state before the application is allowed to run.
	  This option will cause a reboot if required by the modem after DFU.

config AWS_FOTA_PAYLOAD_SIZE
	int "MQTT payload reception buffer size for AWS IoT Jobs messages"
	default 1350

config AWS_FOTA_HOSTNAME_MAX_LEN
	int "Hostname buffer size"
	default 255

config AWS_FOTA_FILE_PATH_MAX_LEN
	int "File path buffer size"
	default 255

config AWS_FOTA_DOWNLOAD_SECURITY_TAG
	int "Security tag to be used for downloads"
	default -1


module=AWS_FOTA
module-dep=LOG
module-str=Log level for AWS Jobs FOTA
module-help=Enables AWS Jobs FOTA log messages.
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # AWS_FOTA
