jinja2
scancode-toolkit-mini==32.4.1
typecode-libmagic==5.39.210531 ; platform_machine == "x86_64" or platform_machine == "AMD64"
pylibmagic==0.5.0 ; platform_machine != "x86_64" and platform_machine != "AMD64"
fingerprints==1.2.3
normality==2.5.0
