{% if ncs_version < hwmv2_since %}
CONFIG_SOC_SERIES_NRF53X=y
CONFIG_SOC_NRF5340_{{ target['core'] | upper }}_{{ variant | upper }}=y
CONFIG_BOARD_{{ board | upper }}_{{ target['core'] | upper }}=y

{% endif %}
CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y

{% if target['core'] == 'cpuapp' %}
CONFIG_ARM_TRUSTZONE_M=y
{% if target.get('ns') %}
CONFIG_TRUSTED_EXECUTION_NONSECURE=y
{% endif %}

{% endif %}
{% if ncs_version <= (2, 6, 0) %}
CONFIG_PINCTRL=y
{% endif %}
