/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

&usbd {
	hs_0: hs_0 {
		compatible = "usb-audio-hs";
		mic-feature-mute;
		mic-channel-l;
		mic-channel-r;

		hp-feature-mute;
		hp-channel-l;
		hp-channel-r;
	};
};

/ {
	aliases {
		sw-vol-down = &button0;
		sw-vol-up = &button1;
		sw-play-pause = &button2;
		sw-mute = &button3;
		led-app-status = &led1;
		led-conn-status = &led0;
		led-sync-status = &led2;
	};
};
