#
# Copyright (c) 2020 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config SECURE_BOOT_STORAGE
	bool "Library for accessing the bootloader storage"
	select NRFX_RRAMC if SOC_SERIES_NRF54LX && !TRUSTED_EXECUTION_NONSECURE

if SECURE_BOOT_STORAGE

module = SECURE_BOOT_STORAGE
module-str = Secure boot storage
source "subsys/logging/Kconfig.template.log_config"

endif # SECURE_BOOT_STORAGE
