#
# Copyright (c) 2020 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig DFU_TARGET
	bool "Device Firmware Upgrade target API"

if (DFU_TARGET)

config DFU_TARGET_MCUBOOT
	bool "MCUBoot update support"
	default y
	depends on IMG_MANAGER
	depends on BOOTLOADER_MCUBOOT
	select DFU_TARGET_STREAM
	imply MPU_ALLOW_FLASH_WRITE
	help
	  Enable support for updates that are performed by MCUboot.

config DFU_TARGET_STREAM
	bool "Generic DFU stream target"
	depends on STREAM_FLASH_ERASE
	depends on STREAM_FLASH

config DFU_TARGET_MCUBOOT_SAVE_PROGRESS
	bool "Store write progress to flash (MCUboot) [DEPRECATED]"
	select DFU_TARGET_STREAM_SAVE_PROGRESS
	help
	  DFU_TARGET_MCUBOOT_SAVE_PROGRESS is deprecated, please use
	  DFU_TARGET_STREAM_SAVE_PROGRESS instead.

if DFU_TARGET_MCUBOOT_SAVE_PROGRESS
	comment "DFU_TARGET_MCUBOOT_SAVE_PROGRESS is deprecated, please use DFU_TARGET_STREAM_SAVE_PROGRESS instead"
endif

config DFU_TARGET_STREAM_SAVE_PROGRESS
	bool "Store write progress to flash stream"
	depends on DFU_TARGET_STREAM || ZTEST # ZTEST for testing purposes
	depends on SETTINGS
	depends on !SETTINGS_NONE
	help
	  Enable this option to cause dfu_target_stream to store the current
	  write progress to flash. In case of power failure or device reset,
	  the operation can then resume from the latest state.

config DFU_TARGET_MODEM_DELTA
	bool "Modem delta update support"
	imply DOWNLOAD_CLIENT_RANGE_REQUESTS
	default y
	depends on SOC_SERIES_NRF91X
	help
	  Enable support for updates to the modem firmware.

if (DFU_TARGET_MODEM_DELTA)
config DFU_TARGET_MODEM_TIMEOUT
	int "Erase pending timeout"
	default 60
	depends on DFU_TARGET_MODEM_DELTA
	help
	  Set the timeout in seconds for how long the code will wait when
	  reading DFU_ERASE_PENDING from the modem. If the timeout is reached
	  an DFU_TARGET_EVT_TIMEOUT is issued and a disconnect of the LTE link
	  is recommended so that the modem has time to service the
	  DFU_ERASE_PENDING request. It's also possible to reboot the device to
	  achive the same desired behavior.


endif # DFU_TARGET_MODEM_DELTA

config DFU_TARGET_FULL_MODEM
	bool "Full Modem update support"
	depends on SOC_SERIES_NRF91X
	depends on DFU_TARGET_STREAM
	depends on STREAM_FLASH
	depends on FMFU_FDEV
	help
	  Enable support for full updates to the modem firmware.
	  Note that this requires an external flash.

# Flash size required for storing full modem image
config DFU_TARGET_FULL_MODEM_EXT_FLASH_SIZE
	hex
	depends on DFU_TARGET_FULL_MODEM
	default 0x400000 if SOC_SERIES_NRF91X

config DFU_TARGET_FULL_MODEM_USE_EXT_PARTITION
	depends on DFU_TARGET_FULL_MODEM
	select PM_PARTITION_REGION_FMFU_STORAGE_EXTERNAL
	bool "Use a dedicated FMFU partition on the external flash device"

module=DFU_TARGET
module-dep=LOG
module-str=Device Firmware Upgrade
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # DFU_TARGET
