#
# Copyright (c) 2021 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig CAF_SENSOR_MANAGER
	bool "Sensor manager module"
	depends on SENSOR
	select CAF_SENSOR_EVENTS

if CAF_SENSOR_MANAGER

config CAF_SENSOR_MANAGER_PM
	bool "Sensor manager passive power management"
	depends on CAF_POWER_MANAGER
	default y
	help
	  This option enables reaction to power events in the sensor manager module.

config CAF_SENSOR_MANAGER_ACTIVE_PM
	bool "Sensor manager active power management"
	depends on CAF_SENSOR_MANAGER_PM
	select CAF_POWER_MANAGER_EVENTS
	default y
	help
	  This option allows sensor manager to actively manage the power.
	  Sensor manager generates power events depending on the sensors data,
	  state and configuration.

config CAF_SENSOR_MANAGER_DEF_PATH
	string "Configuration file"
	default "sensor_manager_def.h"
	help
	  Location of configuration file for sensor manager module.

config CAF_SENSOR_MANAGER_THREAD_STACK_SIZE
	int "Size of sensor manager thread stack"
	default 2048
	help
	  The module samples sensors in a dedicated thread. The thread stack size must be big
	  enough for used sensors.

config CAF_SENSOR_MANAGER_THREAD_PRIORITY
	int "Priority of sensor manager thread"
	default 2
	help
	  It is recommended to use preemptive thread priority to make sure that the thread will
	  not block other operations in the system.

module = CAF_SENSOR_MANAGER
module-str = caf module sensor manager
source "subsys/logging/Kconfig.template.log_config"

endif # CAF_SENSOR_MANAGER
