#
# Copyright (c) 2021 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config CAF_BLE_BOND_SUPPORTED
	bool "Application supports Bluetooth LE bond module"
	depends on SETTINGS
	depends on CAF_BLE_COMMON_EVENTS
	help
	  The module does not have a generic implementation in CAF. Make sure to provide your own
	  implementation of the module if you enable this option.
