#
# Copyright (c) 2022 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config TEST_LPUART_TIMEOUT
	int "Test timeout (seconds)"
	default 1

config TEST_LPUART_LOOPBACK
	bool "Loopback"

source "Kconfig.zephyr"
