/delete-node/ &storage_partition;

&cpuapp_rram {
	partitions {
		storage_partition: partition@174000 {
			label = "storage";
			reg = <0x174000 DT_SIZE_K(8)>;
		};

		emds_partition_0: partition@176000 {
			label = "emds-0";
			reg = <0x00176000 DT_SIZE_K(4)>;
		};

		emds_partition_1: partition@177000 {
			label = "emds-1";
			reg = <0x00177000 DT_SIZE_K(4)>;
		};
	};
};
