# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "nRF Cloud"

rsource "Kconfig.nrf_cloud_client_id"

rsource "Kconfig.nrf_cloud_mqtt"

rsource "Kconfig.nrf_cloud_fota"

rsource "Kconfig.nrf_cloud_agps"

rsource "Kconfig.nrf_cloud_pgps"

rsource "Kconfig.nrf_cloud_rest"

rsource "Kconfig.nrf_cloud_location"

rsource "Kconfig.nrf_cloud_alert"

rsource "Kconfig.nrf_cloud_log"

rsource "Kconfig.nrf_cloud_coap"

config NRF_CLOUD_GATEWAY
	bool "nRF Cloud Gateway"
	help
	  Enables functionality in this device to be compatible with
	  nRF Cloud LTE gateway support.

if NRF_CLOUD_MQTT || NRF_CLOUD_REST || NRF_CLOUD_PGPS || MODEM_JWT || NRF_CLOUD_COAP

config NRF_CLOUD_HOST_NAME
	string "nRF Cloud server hostname"
	default "mqtt.nrfcloud.com"
	help
	  Used for MQTT and JITP performed with REST

config NRF_CLOUD_SEC_TAG
	int "Security tag to use for nRF Cloud connection"
	default 16842753

config NRF_CLOUD_SEND_DEVICE_STATUS
	bool "Send device status on initial connection"
	depends on NRF_CLOUD_MQTT
	depends on MODEM_INFO
	depends on MODEM_INFO_ADD_DEVICE
	default y if NRF_CLOUD_FOTA
	help
	  Send device status, containing hardware and firmware version information,
	  to nRF Cloud on initial connection after library initialization.

config NRF_CLOUD_SEND_DEVICE_STATUS_NETWORK
	bool "Include network status information with device status"
	depends on NRF_CLOUD_SEND_DEVICE_STATUS
	depends on MODEM_INFO_ADD_NETWORK

config NRF_CLOUD_SEND_DEVICE_STATUS_SIM
	bool "Include SIM card information with device status"
	depends on NRF_CLOUD_SEND_DEVICE_STATUS
	depends on MODEM_INFO_ADD_SIM

config NRF_CLOUD_SEND_DEVICE_STATUS_CONN_INF
	bool "Include connection information with device status"
	depends on NRF_CLOUD_SEND_DEVICE_STATUS
	default y

config NRF_CLOUD_DEVICE_STATUS_ENCODE_VOLTAGE
	bool "Include the (battery) voltage when encoding device status"
	depends on MODEM_INFO
	depends on MODEM_INFO_ADD_DEVICE
	default y

choice NRF_CLOUD_WIFI_LOCATION_ENCODE_OPT
	prompt "Encoding options for Wi-Fi location requests"
	default NRF_CLOUD_WIFI_LOCATION_ENCODE_OPT_MAC_RSSI

config NRF_CLOUD_WIFI_LOCATION_ENCODE_OPT_MAC_ONLY
	bool "Encode only the MAC address"
	help
		The MAC address is the only required parameter.

config NRF_CLOUD_WIFI_LOCATION_ENCODE_OPT_MAC_RSSI
	bool "Encode the MAC address and the RSSI value"
	help
		The RSSI value may improve location accuracy.

config NRF_CLOUD_WIFI_LOCATION_ENCODE_OPT_ALL
	bool "Encode all available parameters"
	help
		This option increases the memory required for creating requests.
		It also increases the amount of data sent to nRF Cloud.
endchoice

endif

if NRF_CLOUD_AGPS || NRF_CLOUD_PGPS

module = NRF_CLOUD_GPS
module-str = nRF Cloud GPS Assistance
source "subsys/logging/Kconfig.template.log_config"

endif

module=NRF_CLOUD
module-dep=LOG
module-str=Log level for nRF Cloud
module-help=Enables nRF Cloud log messages.
source "subsys/logging/Kconfig.template.log_config"

endmenu
