# Copyright (c) 2024 Nordic Semiconductor
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

config BOARD_THINGY91X_NRF5340_CPUAPP
	bool "nRF5340_APP THINGY91X"
	depends on SOC_NRF5340_CPUAPP_QKAA

config BOARD_THINGY91X_NRF5340_CPUAPP_NS
	bool "nRF5340_APP THINGY91X"
	depends on SOC_NRF5340_CPUAPP_QKAA

config BOARD_THINGY91X_NRF5340_CPUNET
	bool "nRF5340_NET THINGY91X"
	depends on SOC_NRF5340_CPUNET_QKAA
