# Copyright (c) 2020 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

# The purpose of this file is to override and extend settings related to
# building Thread from sources. It extends the zephyrs openthread Kconfig file.
# Separate Kconfig exists in nrfxlib repository responsible solely for managing
# OpenThread precompiled libraries.

if NET_L2_OPENTHREAD

menu "OpenThread"

config NORDIC_SECURITY_PROMPTLESS
	bool
	default y if !CUSTOM_OPENTHREAD_SECURITY

choice OPENTHREAD_SECURITY
	depends on !OPENTHREAD_SECURITY_INTERNAL

config OPENTHREAD_NRF_SECURITY_CHOICE
	bool "nRF Security"
	select OPENTHREAD_NRF_SECURITY

endchoice

config OPENTHREAD_NRF_SECURITY
	bool
	select MBEDTLS_AES_C
	select MBEDTLS_ENABLE_HEAP
	select MBEDTLS_CCM_C
	select MBEDTLS_CMAC_C
	select MBEDTLS_CTR_DRBG_C
	select MBEDTLS_ECDH_C if OPENTHREAD_ECDSA
	select MBEDTLS_ECDSA_C if OPENTHREAD_ECDSA
	select MBEDTLS_PK_C if OPENTHREAD_ECDSA
	select MBEDTLS_PK_WRITE_C if OPENTHREAD_ECDSA
	select MBEDTLS_ECJPAKE_C
	select MBEDTLS_ECP_C
	select MBEDTLS_ECP_DP_SECP256R1_ENABLED
	select MBEDTLS_HMAC_DRBG_C
	select MBEDTLS_TLS_LIBRARY
	select NORDIC_SECURITY_BACKEND
	select NRF_SECURITY_ADVANCED
	select OBERON_BACKEND if !CC3XX_BACKEND
	help
	  Enables nrf_security module for use by OpenThread. This allows
	  OpenThread to make use of hardware accelerated cryptography functions
	  if available as well as fast oberon backend for software encryption.

config OPENTHREAD_MBEDTLS_LIB_NAME
	default "mbedtls_external" if OPENTHREAD_NRF_SECURITY

config OPENTHREAD_MBEDTLS_DEBUG
	bool "MbedTLS logs for OpenThread"
	select MBEDTLS
	select MBEDTLS_DEBUG
	select MBEDTLS_DEBUG_C

config OPENTHREAD_THREAD_STACK_SIZE
	int "OpenThread thread stack size"
	default 6240 if OPENTHREAD_COMMISSIONER || OPENTHREAD_JOINER
	default 3168

config OPENTHREAD_RADIO_WORKQUEUE_STACK_SIZE
	int "OpenThread radio transmit workqueue stack size"
	default 1084 if SOC_NRF5340_CPUAPP
	default 1024

choice TFM_PROFILE_TYPE
	default TFM_PROFILE_TYPE_NOT_SET
endchoice

endmenu

endif
