# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

# The purpose of this file is to define new default values of settings related
# to building Thread from sources.
# This file only changes defaults related to the Zephyr L2 layer.

if NET_L2_OPENTHREAD

config NET_IPV6_NBR_CACHE
	default n

config NET_IPV6_MLD
	default n

config NET_PKT_RX_COUNT
	default 4 if OPENTHREAD_COPROCESSOR_RCP
	default 10

config NET_PKT_TX_COUNT
	default 4 if OPENTHREAD_COPROCESSOR_RCP
	default 16

if !OPENTHREAD_THREAD_VERSION_1_1

config NET_PKT_TXTIME
	default y

config NET_PKT_TIMESTAMP
	default y

# CSL Transmitter configuration
config IEEE802154_NRF5_DELAY_TRX_ACC
	default 50 if BOARD_NRF52840DONGLE_NRF52840 || BOARD_NRF54L15DK
	default 20

config IEEE802154_CSL_ENDPOINT
	default y if OPENTHREAD_CSL_RECEIVER

endif # !OPENTHREAD_THREAD_VERSION_1_1

if OPENTHREAD_COPROCESSOR_RCP

config NET_RX_STACK_SIZE
	default 300

config NET_TX_STACK_SIZE
	default 300

endif # OPENTHREAD_COPROCESSOR_RCP

endif # NET_L2_OPENTHREAD
