#
# Copyright (c) 2026 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config NRF_WIFI_KMU
	bool "Wi-Fi KMU key support"
	default y
	depends on SOC_SERIES_NRF71
	help
	  This library handles cryptographic keys for Wi-Fi security
	  using KMU (Key Management Unit) slots on nRF71 series devices.
	  The keys are pushed to the memory of an external core which is only
	  accessible via KMU.

if NRF_WIFI_KMU

config NRF_WIFI_KMU_SLOT_MIN
	int "Lowest KMU slot for Wi-Fi keys in nRF71 series devices"
	default 128
	help
	  This is the lowest KMU key slot of pushed Wi-Fi keys.
	  The default is set to the highest number of unreserved keys.

config NRF_WIFI_KMU_NUM_SLOTS
	int "Number of KMU slots for Wi-Fi keys in nRF71 series devices"
	default 52
	help
	  This is the number of KMU slots for Wi-Fi keys.
	  The value of NRF_WIFI_KMU_SLOT_MIN + this Kconfig must not overlap
	  with any reserved KMU slots.

endif # NRF_WIFI_KMU
