#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

## ACL related configs ##
config BT_MAX_CONN
	default 1

config BT_PERIPHERAL
	default y

config BT_GATT_AUTO_RESUBSCRIBE
	default n

config BT_GATT_AUTO_SEC_REQ
	default n


## ISO related configs ##
config BT_BAP_UNICAST_SERVER
	default y

config BT_ISO_MAX_CHAN
	default 2

# Earbud - 0x0941
config BT_DEVICE_APPEARANCE
	default 2369

config BT_GAP_PERIPHERAL_PREF_PARAMS
	default n

config BT_ASCS_ASE_SNK_COUNT
	default 1

config BT_ASCS_ASE_SRC_COUNT
	default 1

config BT_VCP_VOL_REND
	default y

config BT_MCC
	default y

# For fixing compatibility issue with Android 14
config BT_PAC_SNK_NOTIFIABLE
	default y

config BT_CSIP_SET_MEMBER
	default y

config BT_CAP_ACCEPTOR
	default y

config BT_CAP_ACCEPTOR_SET_MEMBER
	default y

config BT_AUDIO_CODEC_CFG_MAX_METADATA_SIZE
	default 25


## LC3 related configs ##
config LC3_BITRATE
	default BT_AUDIO_BITRATE_UNICAST_SRC

config LC3_ENC_CHAN_MAX
	default 1

config LC3_DEC_CHAN_MAX
	default 1
