#
# Copyright (c) 2022 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig QOS
	bool "QoS library"

if QOS

config QOS_PENDING_MESSAGES_MAX
	int "Maximum amount of pending messages"
	default 10

config QOS_MESSAGE_NOTIFIED_COUNT_MAX
	int "Maximum number of times to notify a message"
	default 3
	help
	  Number of times that a message will be notified before being discarded by the library.

config QOS_MESSAGE_NOTIFY_TIMEOUT_SECONDS
	int "Notify timeout of unACKed messages"
	default	16
	help
	  How often the library will notify unACKed messages flagged with
	  QOS_FLAG_RELIABILITY_ACK_REQUIRED

module = QOS
module-str = QoS
source "subsys/logging/Kconfig.template.log_config"

endif # QOS
