# Copyright (c) 2026 Nordic Semiconductor ASA
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

config HW_STACK_PROTECTION
	default ARCH_HAS_STACK_PROTECTION

if BOARD_NRF9251DK_NRF9251_CPUAPP

config USE_DT_CODE_PARTITION
	default y

endif # BOARD_NRF9251DK_NRF9251_CPUAPP
