/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/* Delete led2. This can be removed after a fix in IronSide SE has been released. */
/delete-node/ &led2;
