/* Display version number in white */
.wy-side-nav-search > div.version {
 color: #fff;
}

/* Set background and border for navigation pane */
.wy-nav-side {
 background:#fafafa;
 border-right:#ddd solid 1px;
}

/* Light background when expanding as well */
.wy-menu-vertical li.current, .wy-menu-vertical li.toctree-l2.current>a, .wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a, .wy-menu-vertical li.toctree-l3.current>a, .wy-menu-vertical li.toctree-l3.current li.toctree-l4>a {
 background:#fafafa;
}

/* no change when hovering */
.wy-menu-vertical a:hover, .wy-menu-vertical li.current a:hover {
 background:#fafafa;
}

/* No scroll bar, white text for the doc switcher */
.rst-versions {
 overflow:hidden;
}
.rst-versions a {
 color: #fff;
}

/* Spacing in drop-down */
.rst-versions .rst-other-versions {
 padding: 0px;
}
.rst-other-version {
 padding: 12px;
}

/* Spacing of lists in the main document */
.document li > ol, .document li > ul {
    margin: 5px 0px !important;
}


.wy-side-nav-search input[type="text"] {
    border-width: 0;
}

/* Center-align images */
div.figure {
 text-align: center;
}

.caption {
 padding-top: 10px;
}

/* Background colors for the different sets */
.ncs {
 background-color: #00a9ce;
}
.zephyr {
 background-color: #a67dfb;
}
.mcuboot {
 background-color: #159957;
}
.nrfxlib {
 background-color: #ff9933;
}


/* dbk tweak for doxygen-generated API headings (for RTD theme) */
.rst-content dl.group>dt, .rst-content dl.group>dd>p, .rst-content dl.class p.breathe-sectiondef-title{
   display:none !important;
}
.rst-content dl.group {
  margin: 0 0 12px 0px;
}
.rst-content dl.group>dd {
  margin-left: 0  !important;
}
.rst-content p.breathe-sectiondef-title {
  text-decoration: underline;  /* dbk for API sub-headings */
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 12px;
}
.rst-content div.breathe-sectiondef {
  padding-left: 0 !important;
}


/* Fixing definition lists (changed in Sphinx > 1.7.5) */
.rst-content dl:not(.docutils) dt {
 color: #404040;
 border-top: none;
 background: none;
 font-size: 100%;
 margin-bottom: 12px;
 padding: initial;
}