/* background color top and bottom left */

.wy-side-nav-search {
 background-color: #ff9933;
}

.rst-versions .rst-current-version {
 background-color: #ff9933;
}

/* text color navigation menu */

/* l1 not selected */
.wy-menu-vertical a {
 color: #ff9933;
}
/* expanded container nodes */
.wy-menu-vertical li.on a, .wy-menu-vertical li.current > a {
 color: #ff9933;
}
/* expanded nodes, not selected */
.wy-menu-vertical li.current a {
 color: #ff9933;
}

/* color for numbered steps */
div.numbered-step>h2::before, div.numbered-step>h3::before, div.numbered-step>h4::before, div.numbered-step>h5::before {
  background: #ff9933;
}
