/* -- Extra CSS styles for Zephyr content (RTD theme) ----------------------- */

/*  make .. hlist:: tables fill the page */
table.hlist {
    width: 95% !important;
}

/*  override rtd theme white-space no-wrap in table heading and content  */
th,td {
    white-space: normal !important;
}

/* dbk tweak for doxygen-generated API headings (for RTD theme) */
.rst-content dl.group>dt, .rst-content dl.group>dd>p {
   display:none !important;
}
.rst-content dl.group {
  margin: 0 0 12px 0px;
}
.rst-content dl.group>dd {
  margin-left: 0  !important;
}
.rst-content p.breathe-sectiondef-title {
  text-decoration: underline;  /* dbk for API sub-headings */
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 12px;
}
.rst-content div.breathe-sectiondef {
  padding-left: 0 !important;
}





/* background color top and bottom left */

.wy-side-nav-search {
 background-color: #a67dfb;
}

.rst-versions .rst-current-version {
 background-color: #a67dfb;
 padding: 12px;
}

/* text color navigation menu */

/* l1 not selected */
.wy-menu-vertical a {
 color: #a67dfb;
}
/* expanded container nodes */
.wy-menu-vertical li.on a, .wy-menu-vertical li.current > a {
 color: #a67dfb;
}
/* expanded nodes, not selected */
.wy-menu-vertical li.current a {
 color: #a67dfb;
}

/* overriding some of the grid settings */
.grid-item a {
 background-color: #fff;
 color: #404040;
}
.grid-item a:hover {
 background-color: #c6cbce;
}

/* overriding the positioning of the doc set switcher */
.rst-versions {
 position: fixed !important;
}