#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config UPDATE_SLOT_NUMBER
	int "Image update number"
	range 0 3
	default 0
	help
	  Should be set to the image containing the firmware to mark for upgrade

source "Kconfig.zephyr"
