/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	chosen {
		 /delete-property/ zephyr,console;
		 /delete-property/ zephyr,shell-uart;
	};
};

&uart135 {
	status = "disabled";
};
