# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

menuconfig NRF_KEY_LOADER
	bool "Key loader"
	depends on NRF_SECURITY
	depends on MBEDTLS_PSA_CRYPTO_C
	help
	  Enable support for loading keys built in at compile time.

if NRF_KEY_LOADER

config NRF_KEY_LOADER_BASE_PATH
	string "Path to directory that contains all key bin files"
	help
	  All required keys must be located in this directory with the correct name.
	  The required keys are:
	  - MANIFEST_PUBKEY_APPLICATION_GEN[1-3]
	  - MANIFEST_PUBKEY_RADIO_GEN[1-3]
	  - MANIFEST_PUBKEY_OEM_ROOT_GEN[1-3]
	  - FWENC_APPLICATION_GEN[1-2]
	  - FWENC_RADIO_GEN[1-2]

module=KEY_LOADER
module-dep=LOG
module-str=Key Loader
source "$(ZEPHYR_BASE)/subsys/logging/Kconfig.template.log_config"

endif # NRF_KEY_LOADER
