name: Documentation Build

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - master
      - 'v*-branch'
  push:
    branches:
      - master
      - 'v*-branch'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2
        with:
          path: ncs/nrf
          fetch-depth: 0

      - name: cache-pip
        uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-doc-pip

      - name: Install packages
        run: |
          sudo apt-get install -y ninja-build doxygen mscgen plantuml sshpass

      - name: Install base dependencies
        working-directory: ncs
        run: |
          sudo pip3 install -U setuptools wheel pip
          export PATH="$HOME/.local/bin:$PATH"
          pip3 install -r nrf/scripts/requirements-base.txt

      - name: West init and update
        working-directory: ncs
        run: |
          export PATH="$HOME/.local/bin:$PATH"
          west init -l nrf
          west update
          west zephyr-export

      - name: Install documentation dependencies
        working-directory: ncs
        run: |
          pip3 install -r zephyr/scripts/requirements-doc.txt
          pip3 install -r nrf/scripts/requirements-doc.txt

      - name: Build documentation
        working-directory: ncs
        run: |
          export PATH="$HOME/.local/bin:$PATH"
          cmake -GNinja -B_build -DSPHINXOPTS_EXTRA="-W" nrf/doc
          ninja -C_build

      - name: Archive documentation
        working-directory: ncs/_build
        run: |
          mkdir doc && cd doc
          file="doc_build_${GITHUB_RUN_ID}.tgz"
          tar -C ../html -zcf $file .
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            echo "publish2 dev PR-${{ github.event.number }} $file" > monitor_$GITHUB_RUN_ID.txt
            echo "${{ github.event.number }}" > pr.txt
          else
            # basename will work for both branches and tags
            branch=$(basename "${{ github.ref }}")
            if [[ $branch == "master" ]]; then
              echo "publish2 main latest $file" > monitor_$GITHUB_RUN_ID.txt
            else
              echo "publish2 main ${branch} $file" > monitor_$GITHUB_RUN_ID.txt
            fi
          fi

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: doc
          path: ncs/_build/doc
