name: Documentation Remove

on:
  pull_request_target:
    types: [closed]
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install dependencies
        run: |
          sudo apt install -y sshpass

      - name: Request removal
        env:
          SSHUSER: ${{ secrets.NCS_TRANSFER_DOC_USR }}
          SSHPASS: ${{ secrets.NCS_TRANSFER_DOC_PWD }}
        run: |
          # create request file
          echo "remove PR-${{ github.event.number }}" > monitor_${GITHUB_RUN_ID}.txt
          # trust server
          mkdir -p ~/.ssh && \
            ssh-keyscan -p 2222 transfer.nordicsemi.no >> ~/.ssh/known_hosts
          # upload request file
          echo "put monitor_${GITHUB_RUN_ID}.txt" | \
            sshpass -e sftp -P 2222 -o BatchMode=no -b - $SSHUSER@transfer.nordicsemi.no
