name: Documentation Remove

on:
  pull_request_target:
    types: [closed]
    branches:
      - main
      - 'v*-branch'

permissions:
  contents: read

jobs:
  remove:
    runs-on: ubuntu-24.04
    steps:
      - name: Try removal of PR-docs
        env:
          AZCOPY_CONCURRENCY_VALUE: 3000
        run: |
          azcopy rm "${{ vars.NCS_DOC_STORAGE_URL }}PR-${{ github.event.number }}?${{ secrets.NCS_DOC_SAS }}" --recursive=true || true
