name: Twister nightly linux

on:
  schedule:
    - cron: "0 22 * * *"
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  twister-build:
    strategy:
      fail-fast: false
      matrix:
        os: [linux]
        subset: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
        include:
          - os: linux
            runner: '["runner=16cpu-linux-x64/runs-on=${{ github.run_id }}/volume=250gb"]'

    runs-on: ${{ fromJson(matrix.runner) }}
    steps:
      - name: Checkout sources
        uses: nrfconnect/action-checkout-west-update@main
        with:
          west-update-args: '--narrow -o=--depth=1 --group-filter=+bsec'

      - name: Setup ncs toolchain
        uses: nrfconnect/action-ncs-toolchain-setup@main

      - name: install additional requirements
        run: |
          sudo gem install ceedling
          sudo apt-get update
          sudo apt-get install -y qemu-system-arm g++-multilib gcc-multilib \
          libmagic1 ruby libavahi-client-dev libglib2.0-dev libssl-dev \
          libpixman-1-dev bzip2 ninja-build graphviz mscgen plantuml uncrustify --no-install-recommends

      - name: Run twister
        working-directory: ncs
        shell: bash
        run: |
          nrf/scripts/ci/twister_runner.sh --ninja --inline-logs --verbose --overflow-as-errors \
          --enable-size-report --no-detailed-test-id --jobs 8 --all --retry-failed 2 \
          --shuffle-tests --shuffle-tests-seed 1234  --quarantine-list nrf/scripts/quarantine.yaml \
          --subset ${{ matrix.subset }}/20 --outdir tb --report-dir results_samples \
          -T nrf/samples -T nrf/applications -T nrf/tests

      - name: Upload twister
        if: always()
        id: artifact-upload-step
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4
        with:
          name: Twister results dir ${{ runner.os }} ${{matrix.subset}}
          if-no-files-found: ignore
          include-hidden-files: false
          retention-days: 1
          path: |
            ncs/results_samples/**/*
            ncs/tb/**/*.hex
            ncs/tb/**/*.log

  artifact-combination:
    needs: twister-build
    runs-on: ubuntu-latest
    if: always() && !contains(needs.twister-build.result, 'cancelled')
    steps:
      - name: Download all twister per-subset artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          pattern: Twister results dir *
          path: artifacts

      - name: Combine all artifacts
        shell: bash
        run: |
          set -euo pipefail

          mkdir -p combined

          # Loop through each downloaded artifact folder (e.g., "artifacts/Twister results dir")
          # and merge its contents into "combined"
          for artifact_dir in artifacts/*; do
             if [ -d "$artifact_dir" ]; then
               # The trailing slash on artifact_dir/ is important for rsync to copy contents, not the folder itself
               rsync -a "$artifact_dir/" combined/
             fi
          done

      - name: Upload combined twister artifact
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4
        with:
          name: Twister combined results
          retention-days: 7
          path: combined/**
