name: Validate pip requirements-fixed.txt

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
      - 'v*-branch'
    paths:
      - 'scripts/requirements*.txt'
      - '.github/workflows/validate-pip-requirements-fixed-file.yml'

permissions:
  contents: read

jobs:
  check-requirements:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout sources
        uses: nrfconnect/action-checkout-west-update@main
        with:
          west-update-args: '--narrow mcuboot zephyr'

      - name: Get python version
        id: pyv
        run: |
          sudo snap install --channel=v4 yq
          PYTHON_VERSION=$(yq '.python.version' ./ncs/nrf/scripts/tools-versions-linux.yml)
          echo "python_version=$PYTHON_VERSION" >> $GITHUB_OUTPUT

      - name: Setup python version
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5
        with:
          python-version: '${{ steps.pyv.outputs.python_version }}'

      - name: Cache pip
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip

      - name: Setup environment
        working-directory: ncs
        run: |
          pip3 install --user -U setuptools wheel pip virtualenv virtualenvwrapper

      - name: Execute script diff action
        uses: nrfconnect/action-script-diff@v0.3
        with:
          diff_file: "ncs/nrf/scripts/requirements-fixed.txt"
          script_call: |
            cd ncs
            OUT_FILE="nrf/scripts/requirements-fixed.txt"
            echo "Writing frozen requirements to: $OUT_FILE"
            echo "Log python version: $(python --version)"

            TOPDIR=$(west topdir)
            cd $TOPDIR

            source ~/.local/bin/virtualenvwrapper.sh
            [[ $? != 0 ]] && echo "error sourcing virtualenvwrapper" && exit 1

            rmvirtualenv pip-fixed-venv > /dev/null 2>&1
            # We need to force the result of the following command.
            # For no aparent reason it returns 1 with the same output as local.
            mkvirtualenv pip-fixed-venv  > /dev/null 2>&1 || true
            workon pip-fixed-venv  > /dev/null 2>&1

            pip3 install \
              --index-url https://files.nordicsemi.com/artifactory/api/pypi/nordic-pypi/simple \
              pip-compile-cross-platform==1.4.2+nordic.3 --upgrade > /dev/null 2>&1
            pip-compile-cross-platform \
              bootloader/mcuboot/scripts/requirements.txt \
              zephyr/scripts/requirements.txt \
              nrf/scripts/requirements-ci.txt \
              nrf/scripts/requirements-extra.txt \
              nrf/scripts/requirements.txt \
              --output-file nrf/scripts/requirements-fixed.txt \
              --min-python-version 3.12 \
              --index-url https://files.nordicsemi.com/artifactory/api/pypi/nordic-pypi/simple

            deactivate
            rmvirtualenv pip-fixed-venv
