name: NCS west commands

on:
  pull_request:
    branches: [main]
    paths:
      - scripts/west_commands/**
      - scripts/requirements-west-ncs-sbom.txt
      - scripts/requirements-extra.txt

jobs:
  west_commands_job:
    runs-on: ubuntu-24.04
    name: Run Python checks for west commands on patch series (PR)
    steps:
      - name: Checkout the code
        uses: nrfconnect/action-checkout-west-update@main
        with:
          path: ncs/nrf
          git-fetch-depth: 0
      - name: Install python dependencies
        working-directory: ncs/nrf
        run: |
          pip3 install -U pip
          pip3 install -U setuptools
          pip3 install -U wheel
          pip3 install -U mypy types-colorama types-editdistance types-PyYAML
          pip3 install -U -r scripts/requirements-fixed.txt --require-hashes
          pip3 show -f west
      - name: Run mypy
        working-directory: ncs/nrf/scripts/west_commands
        run: |
          python3 -m mypy --config-file mypy.ini ncs_west_helpers.py pygit2_helpers.py ncs_commands.py

  run-west-cmds:
    name: Run smoke tests for ncs west commands
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-13, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout sources
        uses: nrfconnect/action-checkout-west-update@main
        with:
          git-fetch-depth: 0
          path: nrf
      - name: Install requirements
        shell: bash
        run: |
          python3 -m pip install -U pip
          pip3 install -r nrf/scripts/requirements-west-ncs-sbom.txt --require-hashes
          pip3 install -r nrf/scripts/requirements-extra.txt --require-hashes
      - name: Smoke test ncs-loot & ncs-compare
        shell: bash
        run: |
          west ncs-loot -h
          west ncs-compare -h
