#
# Copyright (c) 2021 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig DATA_MODULE
	bool "Data module"
	select DATE_TIME
	default y

if DATA_MODULE

config PENDING_DATA_COUNT
	int "Number of entries in pending data list"
	default 10

config FAILED_DATA_COUNT
	int "Number of entries in failed data list"
	default 10

config DATA_SEND_ALL_DEVICE_CONFIGURATIONS
	bool "Encode and send all device configurations regardless if they have changed or not"
	help
	  If this option is disabled the data module will only include device configuration values
	  that have changed from the last configuration update. This is to save costs related to
	  data transfers and to lower the device's overall current consumption due to less CPU and
	  radio-activity.

config DATA_THREAD_STACK_SIZE
	int "Data module thread stack size"
	default 2560

config DATA_GPS_BUFFER_COUNT
	int "Number of GPS data ringbuffer entries"
	default 10

config DATA_SENSOR_BUFFER_COUNT
	int "Number of sensor data ringbuffer entries"
	default 10

config DATA_MODEM_DYNAMIC_BUFFER_COUNT
	int "Number of dynamic modem data ringbuffer entries"
	default 3

config DATA_UI_BUFFER_COUNT
	int "Number of UI data ringbuffer entries"
	default 3

config DATA_ACCELEROMETER_BUFFER_COUNT
	int "Number of accelerometer data ringbuffer entries"
	default 3

config DATA_BATTERY_BUFFER_COUNT
	int "Number of battery data ringbuffer entries"
	default 3

endif # DATA_MODULE

module = DATA_MODULE
module-str = Data module
source "subsys/logging/Kconfig.template.log_config"
